.btn{
    overflow: visible;
    display: inline-block;
    margin-bottom: 0; // For input.btn
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none; // Reset unusual Firefox-on-Android default style; see https://github.com/necolas/normalize.css/issues/214
    border: none;
    white-space: nowrap;
    border-radius: 3px;
    position: relative;
    text-decoration: none;
    outline: none !important;

    &:hover{
        text-decoration: none;
    }

    &.btn-default{
        @extend %default-gradient;
        padding: 11px 15px 11px 15px;
        color: #fff;

        &:hover{
            background: $color7;
        }
    }

    &.btn-primary{
        @extend %primary-gradient;
        color: #fff;
        padding: 11px 15px 11px 15px;
        min-width: 90px;

        &:hover{
            background: $color2;
        }
    }

    &.btn-secondary{
        @extend %secondary-gradient;
        color: #fff;
        padding: 10px 20px 11px;

        &:hover{
            background: $color3;
        }

        &.btn-small{
            padding: 5px 13px 7px;
        }
    }

    &.btn-light-grey{
        @extend %light-grey-gradient;
        color: $color1;
        padding: 10px 20px 11px;

        &:hover, &.btn-active{
            background: $color3;
            color: #fff;
        }

        &.btn-small{
            padding: 6px 14px 7px;
        }
    }

    &.btn-arr, &.btn-icon{
        &:before{
            display: block;
            content: '';
            position: absolute;
        }
    }

    &.btn-arr-right{
        padding: 11px 30px 12px 18px;

        &:before{
            @extend .sp-arr-right-whitesmall;
            right: 14px;
            top: 50%;
            margin-top: -(sp-sprite-height('arr-right-whitesmall')/2);
        }
    }

    &.btn-arr-bottom-right{
        padding: 11px 40px 11px 24px;

        &:before{
            @extend .sp-arr-down-white13x8;
            right: 22px;
            top: 50%;
            margin-top: -(sp-sprite-height('arr-down-white13x8')/2);
        }
    }

    &.btn-basket{
        text-align: right;
        padding: 11px 20px 11px 40px;
        
        &:before{
            @extend .sp-basket-white;
            left: 14px;
            top: 50%;
            margin-top: -(sp-sprite-height('basket-white')/2);
        }
    }
}

// Block button
// --------------------------------------------------

.btn-block {
    display: block;
    width: 100%;
}

.btn-block + .btn-block {
  margin-top: 6px;
}

// Specificity overrides
input[type="submit"],
input[type="reset"],
input[type="button"] {
  &.btn-block {
    width: 100%;
  }
}
