.carousel{
    position: relative;

    .owl-stage-outer{
        overflow: hidden;
    }

    .owl-stage{
        @extend .clearfix;
        position: relative;
    }

    .owl-item{
        float: left;
    }

    .owl-nav{
        position: absolute;
        right: 8px;
        bottom: 3px;
        z-index: 98;
        overflow: hidden;
        width: 61px;

        &.disabled{
            display: none;
        }

        .owl-prev, .owl-next{
            transition: all .2s ease;
            float: left;
            width: 50%;
            background: $color5;
            height: 30px;
            cursor: pointer;
            text-indent: -9999px;
            position: relative;
            user-select: none;

            &:hover{
              background: darken($color5, 5.2);
            }

            &:before{
                display: block;
                content: '';
                position: absolute;
                left: 50%;
                top: 50%;
            }

            &.disabled{
                cursor: default;
                opacity: .5;
            }
        }

        .owl-prev{
            border-radius: 3px 0 0 3px;

            &:before{
                @extend .sp-arr-left-greysmall;
                margin-top: -(sp-sprite-height('arr-left-greysmall')/2);
                margin-left: -(sp-sprite-width('arr-left-greysmall')/2);
            }


            &.disabled{
                &:hover{
                    background: #e5e5e5;
                }
            }

        }
        .owl-next{
            border-radius: 0 3px 3px 0;

            &.disabled{
                &:hover{
                    background: #e5e5e5;
                }
            }

            &:before{
                @extend .sp-arr-right-greysmall;
                margin-top: -(sp-sprite-height('arr-right-greysmall')/2);
                margin-left: -(sp-sprite-width('arr-right-greysmall')/2);
            }
        }
    }
}