.catefories-navigation{
    position: relative;
    z-index: 99;
    background: #fff;
    border-radius: 5px 0 0 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05); 
    margin-bottom: 28px;

    .wr{
        position: absolute;
        top: 0;
        left: 100%;
        height: 100%;
        display: none;
        width: 270px;
    }

    ul{
        list-style-type: none;
        position: relative;
        margin: 0;
        padding: 0;

        li{
            border-top: 1px solid #e6e6e6;

            &:hover{

               & > a{
                    @extend %light-gradient;                

                }

                & > a + .dept, & > a + .wr > .dept,  & > a + .wr{
                    display: block;
                }
            }

            &:first-child{
                border-top: none;
            }
        }

        &.root-list{
            & > li{
                position: static;

                & > a{
                    font-size: 18px;
                    padding: 18px 30px 18px 62px;

                    &:before{
                        @extend .sp-arr-right;
                        display: block;
                        content: '';
                        position: absolute;
                        right: 15px;
                        top: 50%;
                        margin-top: -(sp-sprite-height('arr-right')/2);
                    }
                }


                &:hover{
                    
                   & > a{
                        &:before{
                            @extend .sp-arr-act;
                        }                    

                    }
                }

                &.active{

                   & > a{
                    
                        @extend %light-gradient;

                        &:before{
                            @extend .sp-arr-act;
                        }                    

                    }

                }

                &.has-not-deps{
                    & > a{
                        &:before{
                            display: none;
                        }
                    }
                }

            }
        }

        &.dept{
            position: absolute;
            left: 100%;
            top: 0;
            width: 270px;
            background: #fff;
            border-left: 1px solid #e6e6e6;
            display: none;
            box-shadow: 0 2px 6px rgba(0,0,0, .1);

            @include brk($max: 1200px) {
                width: 255px;
            };

            @include brk($max: 1060px) {
                width: 244.5px;
            };

            & > li{
                position: relative;

                &:hover{
                    > a{
                        &:before{
                            @extend .sp-cat-arr-act;
                        }
                    }
                }

                &.has-not-deps{
                    & > a{
                        &:before{
                            display: none;
                        }
                    }
                }
                
            }

            a{
                padding: 8px 22px 8px 22px;

                &:before{
                    @extend .sp-cat-arr-right;
                    display: block;
                    content: '';
                    position: absolute;
                    right: 8px;
                    top: 50%;
                    margin-top: -(sp-sprite-height('cat-arr-right')/2);
                }
            }

            &.dept-1{
                left: 0;
            }

            &.dept-3{
                a{
                    &:before{
                        display: none;
                    }
                }
            }
        }

        a{
            display: block;
            position: relative;
            text-decoration: none;
            color: $color1;
            font-weight: bold;
            font-size: 14px;

            .icon{
                display: block;
                position: absolute;
                width: 40px;
                height: 30px;
                left: 20px;
                top: 50%;
                margin-top: -16px;
                text-align: center;
                line-height: 30px;

                img{
                    display: inline-block;
                    vertical-align: middle;
                    max-width: 100%;
                }
            }

            &:hover{
                @extend %light-gradient;
            }
        }

    }
}