%inline-blocks{
    
    font-size: 0;
    list-style-type: none;
    margin: 0;
    padding: 0;

    & li {
        display: inline-block;
        vertical-align: top;
        padding: 0;
        margin: 0;

        &:before{
            display: none;
        }
    }

}




// Gradients
//==================================

// Grey
%default-gradient{
    background: map-get($default-gradient, start);
    background:linear-gradient(to bottom, map-get($default-gradient, start), map-get($default-gradient, middle), map-get($default-gradient, end));
}

// Blue
%primary-gradient{
    background: map-get($primary-gradient, middle);
    background:linear-gradient(to bottom, map-get($primary-gradient, start), map-get($primary-gradient, middle), map-get($primary-gradient, end));
}

// Orange
%secondary-gradient{
    background: map-get($secondary-gradient, start);
    background:linear-gradient(to bottom, map-get($secondary-gradient, start), map-get($secondary-gradient, middle), map-get($secondary-gradient, end));
}

// Light grey
%light-grey-gradient{
    background: map-get($light-grey-gradient, start);
    background:linear-gradient(to bottom, map-get($light-grey-gradient, start), map-get($light-grey-gradient, middle), map-get($light-grey-gradient, end));
}

// Light
%light-gradient{
    background: map-get($light-gradient, start);
    background:linear-gradient(to bottom, map-get($light-gradient, start), map-get($light-gradient, middle), map-get($light-gradient, end));
}