.footer{
    height: $footer-height;
    margin-top: -$footer-height;
    position: relative;

    .foo-logo{
        padding-left: 20px;
    }

    .copy{
        padding: 0 0 0 20px;
        line-height: 1.5;
    }

    .foo-phones{

        padding-left: 30px;

        .ph{
            padding-top: 13px;
            font-size: 18px;

            &.second{
                margin-left: -20px;
            }
        }

    }
    
    .foo-nav{
        padding-top: 7px;
        padding-left: 28px;
        letter-spacing: -.5px;
        margin-bottom: 22px;

        ul{
            @extend %inline-blocks;

            li{
                margin: 0 31px 19px 0;

                &.active{
                    a{
                        color: $color3;
                    }
                }
            }
        }

        a{
            color: $color1;
            font-size: 12px;
            text-transform: uppercase;
            text-decoration: none;
            font-weight: bold;

            &:hover{
                color: $color3;
                text-decoration: none;
            }
        }
    }
}
