.form-elements{
    .form-control {
        @include input-placeholder{
            color: $color1;
        };
        display: block;
        border: 1px solid #c4c4c4;
        outline: none !important;
        background: #fff;
        border-radius: 3px;
        width: 100%;
        padding: 9px 10px 9px;
        box-shadow: inset 0 2px 2px rgba(#000, .1);
        font-size: 12px;

        &.error{
            border-color: map-get($colors, error);
        }
    }

    .form-group{
        margin-bottom: 11px;
        position: relative;
    }

    label.error{
        position: absolute;
        right: 10px;
        top: 11px;
        font-size: 10px;
        color: map-get($colors, error);
    }

    .fancy-select{
        display: block;
        position: relative;

        .trigger{
            display: block;
            border: none;
            outline: none !important;
            background: #fff;
            border-radius: 3px;
            width: 100%;
            padding: 12px 40px 10px 16px;
            box-shadow: inset 0 2px 2px rgba(#000, .2);
            color: #4a4f54;
            font-size: 12px;
            cursor: pointer;
            position: relative;
            border: 1px solid #c4c4c4;

            &:before{
                @extend .sp-arr-down-grey;
                display: block;
                content: '';
                position: absolute;
                right: 9px;
                top: 50%;
                margin-top: -(sp-sprite-height('arr-down-grey')/2);
            }

            &.open{
                &:before{
                   @extend .sp-arr-top-grey; 
                }
            }
        }

        select.error{
            & ~ .trigger{
                border-color: map-get($colors, error);
            }
        }

        label.error{
            visibility: hidden;
            opacity: 0;
            display: none !important;
        }

        .options{
            list-style-type: none;
            padding: 0;
            transition: all .1s ease;
            position: absolute;
            width: 100%;
            background: #fff;
            border-radius: 3px;
            box-shadow: 0 2px 2px rgba(#000, .3);
            opacity: 0;
            visibility: hidden;
            left: 0;
            top: 100%;
            margin-top: 10px;
            overflow-x: hidden;
            max-height: 35px * 10;
            z-index: 10;

            li{
                transition: all .1s ease;
                display: block;
                padding: 10px 16px;
                border-top: 1px solid rgba(#000, .1);
                cursor: pointer;
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;

                &:hover, &.selected{
                    background: rgba(#000, .05);
                }
            }

            &.open{
                margin-top: 5px;
                opacity: 1;
                visibility: visible;
            }
        }
    }
}

.spinner{
    position: relative;
    padding: 0 35px;

    span{
        @extend %secondary-gradient;
        display: block;
        width: 28px;
        height: 26px;
        border-radius: 2px;
        cursor: pointer;
        position: absolute;
        top: 0;
        user-select:none;

        &:hover{
            background: $color3;
        }

        &:before{
            display: block;
            content: '';
            background: #fff;
            width: 9px;
            height: 3px;
            position: absolute;
            left: 50%;
            top: 50%;
            margin: -1px 0 0 -4px;
        }

        &.down{
            left: 0;
        }

        &.up{
            right: 0;

            &:after{
                display: block;
                content: '';
                width: 3px;
                height: 9px;
                top: 50%;
                left: 50%;
                background: #fff;
                margin: -4px 0 0 -1px;
                position: absolute;
            }
        }
    }

    .form-control{
        padding: 5px 9px;
        text-align: left;
    }
}