.front-carousel{
    z-index: 1;
    overflow: hidden;
    border-radius: 0 5px 5px 0;
    margin-bottom: 28px;
    

    .owl-nav{
        right: 14px;
        bottom: 13px;
        .owl-prev, .owl-next{
            background: #5f6467;

            &:hover{
                background: #767a7f;
            }
        }
        .owl-prev{
            &:before{
                @extend .sp-arr-left-whitesmall;
                margin-top: -(sp-sprite-height('arr-left-whitesmall')/2);
                margin-left: -(sp-sprite-width('arr-left-whitesmall')/2);
            }

            &.disabled{
                &:hover{
                    background: #5f6467;
                }
            }

        }
        .owl-next{
            &:before{
                @extend .sp-arr-right-whitesmall;
                margin-top: -(sp-sprite-height('arr-right-whitesmall')/2);
                margin-left: -(sp-sprite-width('arr-right-whitesmall')/2);
            }

            &.disabled{
                &:hover{
                    background: #5f6467;
                }
            }
        }
    }

    .item{
        position: relative;
    }

    .caption{
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 2;
        padding: 42px 40px 40px 39px;

        .caption-title{
            font-weight: 300;
            color: #f9fdfe;
            font-size: 18px;
            margin-bottom: 14px;
        }

        .caption-cost{
            font-weight: 300;
            color: $color3;
            font-size: 36px;
            margin-left: -2px;
        }

        .caption-big-title{
            font-weight: 300;
            font-size: 48px;
            color: #fff;
            margin: 65px 0 34px 2px;
            line-height: 1.25;
        }

        .caption-btn{
            margin: 0 0 0 6px;
        }
    }

}