.front-colums{
    @extend .clearfix;

    .col-left{
        float: left;
        width: $left-width;
    }

    .col-right{
        overflow: hidden;
        margin-left: $left-width;
        position: relative;
        z-index: 1;
    }
}