body{
    background-color: map-get($colors, mainBg);
    background-image: image-url('bg-top.jpg');
    background-repeat: no-repeat;
    background-position: center 0;
    min-width: 998px;
}

.global{
    background:  image-url('bg-bottom.jpg') center 100% no-repeat;
}

.text-right{
    text-align: right;
}

.text-left{
    text-align: left;
}

.text-center{
    text-align: center;
}

.baner{
    overflow: hidden;
    border-radius: 5px;
    margin: 0 0 17px;
    position: relative;

    &.has-btn{
        .btn-row{
            text-align: center;
            position: absolute;
            bottom: 57px;
            left: 0;
            width: 100%;
        }
    }
}

.module{
    background: #fff;
    border-radius: 5px;

    .module-top-row{
        border-bottom: 1px solid #e6e6e6;
        padding: 21px 27px 9px 27px;
        margin-bottom: 8px;
    }

    .module-title{
        font-size: 24px;
    }

    .module-body{
        padding: 0 5px 11px;
    }

    & + .module{
        margin-top: 16px;
    }
}

[data-toggle="dropdown"]{
    cursor: pointer;
}

.breadcrumbs{
    font-size: 11px;

    a{
        color: #b0b4b6;
        display: inline-block;
        vertical-align: top;
        text-decoration: none;

        &:hover{
            text-decoration: none;
            color: $color2;
        }
    }

    .sep{
        display: inline-block;
        vertical-align: top;
        color: #b0b4b6;
        margin: 1px 8px 0;
    }

    .last{
        display: inline;
        vertical-align: top;
        color: #787d80;
    }
}


.has{
    color: $color3;
    position: relative;
    padding: 0 0 0 10px;

    &:before{
        display: block;
        content: '';
        width: 4px;
        height: 4px;
        border-radius: 100%;
        position: absolute;
        left: 0;
        top: 50%;
        margin-top: -2px;
        background: $color3;
    }
}

.module-text-entries{

    margin-top: 10px;
    margin-bottom: 6px;

    .module-body{
        padding: 20px 27px 14px 27px;

        h1, .h1{
            margin-bottom: 9px;
        }

        p{
            margin-left: 2px;
        }
    }
}

.warging{
    font-style: italic;
    color: $color6;
    position: relative;
    padding: 11px 20px 11px 50px;
    font-size: 16px;
    font-family: Calibri;

    p{
        line-height: 1.4;
    }

    &:before{
        @extend .sp-warning;
        display: block;
        content: '';
        position: absolute;
        left: 3px;
        top: 16px;
    }
}