html, body{
  height: 100%;
}

.global{
  min-height: 100%;
  max-width: $max-global-width;
  margin: 0 auto;
}

.middle{
  padding-bottom: $footer-height + 17;
  min-height: $footer-height * 2
}

.container {
  @include container-fixed;
  width: $container-lg;

  @include brk($max: 1040px) {
    width: $container-md;
  };
}

.row {
  @include make-row;
}

@include make-grid-columns;
@include make-grid(md);

.sidebar{
  width: 26.4%;
}

.content{
  width: 100% - 26.4;
}