.header{
    position: relative;
    padding: 31px 0 0 0;
    margin-bottom: 20px;

    .header-top-row{
        margin-bottom: 32px;
    }

    .logo{
        display: inline-block;
        vertical-align: top;
        margin: 0 0 0 21px;
    }

    .phone-block{
        padding: 6px 0 0 5px;

        .phone{
            font-size: 24px;
            margin: 0 0 1px;
        }
    }

    .header-basket{
        color: $color3;
        display: inline-block;
        vertical-align: top;
        text-align: left;
        position: relative;
        padding: 0 0 0 46px;
        margin: 11px 19px 0 0;

        &.has-items{
            cursor: pointer;
        }

        &:before{
            @extend .sp-basket-orange;
            display: block;
            content: '';
            position: absolute;
            left: 0;
            top: 3px;
        }

        .t{
            font-size: 18px;
            margin: 0 0 4px;
        }

        .label{
            font-weight: bold;
        }
    }
}

