.blocks-items-list{
    .item{
        position: relative;
        border-radius: 5px;
        overflow: hidden;
        padding: 10px;

        .overlay{
            transition: opacity .15s ease;
            opacity: 0;
            visibility: hidden;
            position: absolute;
            width: 100%;
            height: 100%;
            left: 0;
            top: 0;
            text-align: center;
            background: rgba(#000, .1);

            .item-link{
                display: block;
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%; 
            }

            .btn-basket{
                height: 36px;
                width: 120px;
                position: absolute;
                top: 50%;
                left: 50%;
                margin-top: -11px;
                margin-left: -60px;
                z-index: 2;
            }
        }

        &:hover{
            .overlay{
                opacity: 1;
                visibility: visible;
            }
        }

        .thumbnail{
            text-align: center;
            height: 120px;
            line-height: 120px;
            margin: 2px 0 6px;

            img{
                display: inline-block;
                vertical-align: middle;
            }
        }

        .item-title{
            line-height: 1.5;
            height: 55px;
            overflow: hidden;
            margin-bottom: 10px;
        }

        .item-cost-1{
            color: $color4;
            font-size: 14px;
            font-weight: bold;
            margin-bottom: 4px;
        }

        .item-cost-2{
            color: #8f5b39;
            font-size: 11px;

            span{
                margin: 0 8px 0 0;
            }
        }
    }    
}

.items-carousel{

    .item{
        margin: 0 6px;
        padding: 10px; 
    }

}