.main-nav{
    position: relative;
    z-index: 101;
    .root{
        @extend %inline-blocks;
        @extend %primary-gradient;
        padding: 14px 14px 11px;
        border-radius: 5px 5px 0 0;
        text-align: justify;
        text-justify: distribute;

        &:after{
            display: inline-block;
            content: '';
            vertical-align: top;
            width: 100%;
            height: 0;
            line-height: 0;
        }

        li{
            font-size: $font-size-base;
            text-transform: uppercase;
            text-align: center;

            a{
                display: inline-block;
                color: #fff;
                font-weight: bold;
                text-decoration: none;
                padding: 11px 15px 10px;
                border-radius: 3px;
                letter-spacing: -.2px;

            }
            &:hover, &.active{
                a{
                    background: #0085d0;
                    background:linear-gradient(to bottom, #008bd6, #0085d0);
                    box-shadow: inset 0 1px 0 rgba(#fff, .1);
                }
            }
        }
    }
}