.module-catalog-list{
    margin-bottom: 6px;

    .module-top-row{
        padding: 21px 25px 17px 27px;
        margin: 0;
    }

    .breadcrumbs{
        padding: 12px 0 0 0;
    }

    .catalog-title{
        a{
            text-decoration: none;
            color: #838a90;
            display: inline-block;
            vertical-align: top;
        }

        span{
            display: inline-block;
            vertical-align: top;

            &.sep{
                margin: 2px 19px 0;
            }

            &.last{
                color: $color1;
            }
        }
    }
}

.pagination-type-1{
    background: #f7f9f9;
    padding: 10px 27px 10px 27px;

    .t{
        display: inline-block;
        vertical-align: top;
        color: $color1;
        margin: 6px 11px 0 0;
    }

    .btns{
        display: inline-block;
        vertical-align: top;

        .btn{
            margin: 0 10px 0 0;
        }
    }
}
.pagination-type-2{
    padding: 11px 25px 13px 25px;
    font-size: 0;

    .dotts{
        display: inline-block;
        vertical-align: top;
        margin: 9px 0 0 -5px;
        font-size: $font-size-base;
        background: #fff;
    }

    .pag-link{
        display: inline-block;
        vertical-align: top;
        text-decoration: none;
        color: $color1;
        border-radius: 3px;
        padding: 4px 5px;
        margin: 5px 0 0 2px;
        font-size: $font-size-base;
        position: relative;
        z-index: 2;

        &:hover, &.active{
            background: #e4ebee;
        }
    }

    .btn-next, .btn-prev{
        width: 39px;
        height: 26px;
        padding: 0;
        position: relative;
        margin-top: 3px;
    }

    .btn-next{
        margin-left: 16px;
        &:before{
            @extend .sp-pag-arr-right;
            display: block;
            content: '';
            position: absolute;
            left: 50%;
            top: 50%;
            margin-left: -(sp-sprite-width('pag-arr-right')/2);
            margin-top: -(sp-sprite-height('pag-arr-right')/2);
        }
    }
    .btn-prev{
        margin-right: 16px;
        &:before{
            @extend .sp-pag-arr-left;
            display: block;
            content: '';
            position: absolute;
            left: 50%;
            top: 50%;
            margin-left: -(sp-sprite-width('pag-arr-left')/2);
            margin-top: -(sp-sprite-height('pag-arr-left')/2);
        }
    }
}


.catalog-list{
    .item{
        @include pie-clearfix();
        // padding: 8px 24px 7px 28px;
        padding: 9.9px 24px 5.3px 28px;
        border-bottom: 1px solid #e6e6e6;
    }

    .thumb{
        width: 50px;
        text-align: center;
        margin: 10px 16px 10px 0;

        img{
            display: inline-block;
            vertical-align: top;
        }
    }

    .item-title{
        width: 200px;
        line-height: 1.55;
        margin: 0 26px 0 0;

        a{
            color: $color1;
            text-decoration: none;

            &:hover{
                color: $color3;
                text-decoration: none;
            }
        }
    }

    .items-have{
        width: 138px;
        padding-top: 20px;
        margin-right: 20px;
    } 

    .cost{
        width: 100px;
        margin: 0 7px 0 0;

        .cost-1{
            font-weight: bold;
            color: $color2;
            font-size: $font-size-base + 2;
            margin: 7px 0 9px 0;
        }

        .cost-2{
            color: $color6;
            font-size:  $font-size-base - 1;
        }
    }

    .btn-cell{
        width: 120px;
        padding: 8px 0 0 0;
    }
}


.search-result-count-row{
    padding: 11px 0 7px 28px;
    border-bottom: 1px solid #e6e6e6;

    & + .catalog-group {
        
        .catalog-category-title{
            border-top: none;
        }
    }

}

.catalog-group{

    .catalog-category-title{
        border-top: 1px solid #e6e6e6;
    }

    .list-footer{
        padding: 15px 25px 14px 25px;
    }
}

.catalog-category-title{
    background: #f7f9f9;
    font-size: 18px;
    padding: 14px 27px 10px;
}