.module-result-nav{
    
    padding: 23px 24px 31px;
    margin: 0 0 15px;

    .module-title{
        font-size: 18px;
        font-weight: bold;
        margin: 0 0 17px;

        span{
            font-weight: normal;
            color: $color2;
            font-size: 12px;
            margin: 0 0 0 3px;
        }
    }

    ul{
        list-style-type: none;
        margin: 0;
        padding: 0;

        a{
            text-decoration: none;
            color: $color1;

            &:hover{
                color: $color2;
                text-decoration: none;
            }

        }

        li{
            span{
                font-weight: normal;
                color: $color2;
                font-size: 12px;
                margin: 0 0 0 3px;
            }
        }

    }

    .root{
        padding-left: 2px;
        & > li{

            margin-top: 13px;

            &:first-child{
                margin-top: 0;
            }

            & > a{
                font-weight: bold;
                font-size: 14px;  
            }
        }

        .dept-1{
            padding: 13px 0 0 15px;

            & > li{
                margin-top: 14px;

                &:first-child{
                    margin-top: 0;
                }
            }
        }

        .dept-2{
            padding: 14px 0 0 24px;

            & > li{
                margin-top: 8px;

                &:first-child{
                    margin-top: 0;
                }
            } 
        }

        .dept-3{
            padding: 14px 0 0 27px;

            & > li{
                margin-top: 8px;

                &:first-child{
                    margin-top: 0;
                }
            } 
        }
    }
}