.module-catalog-category{

    .module-top-row{
        padding: 17px 27px 13px;
        margin: 0;

        .module-title{
            h1{
                font-size: 36px;
                margin: 0;
            }
        }

        .breadcrumbs{
            margin: 26px 0 0 0;
        }
    
    }


   .category-nav{
        padding: 27px 33px 17px 28px;

        ul{
            list-style-type: none;
            margin: 0;
            padding: 0;

            li{
                font-weight: bold;
                margin: 0 0 16px;
            }

            a{
                color: $color1;
                text-decoration: none;
                font-size: $font-size-base + 2;

                &:hover{
                    text-decoration: none;
                    color: $color2;
                }

                span{
                    font-weight: normal;
                    color: $color2;
                    font-size: $font-size-base;
                    margin: 0 0 0 3px;
                }
            }
        }
   } 

   & + .module{
        margin-top: 11px;
   }
}

.module-grid-items{
    .module-body{
        padding: 10px 19px 11px;

        .item{
            margin-bottom: 4px;
        }
    }

    .more-btn-row{
        padding: 5px 0 15px;
    }

    & + .module{
        margin-top: 10px;
    }
}