.modal-close{
    transition: background .2s ease;
    position: absolute;
    right: 15px;
    top: 14px;
    width: 30px;
    height: 30px;
    border-radius: 3px;
    background: $color5;
    z-index: 2;
    cursor: pointer;

    &:hover{
        background: darken($color5, 5.2);
    }

    &:before{
        @extend .sp-close1;
        display: block;
        content: '';
        position: absolute;
        left: 50%;
        top: 50%;
        margin-top: -(sp-sprite-width('close1')/2);
        margin-left: -(sp-sprite-height('close1')/2);
    }
}

.dropdown-overlay{
    @include opacity(0);
    visibility: hidden;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    background: #000;
}


// auth-dropdown
.auth-dropdown{
    @include opacity(0);
    transition: opacity .2s ease, margin .2s ease;
    top: 70px;
    left: auto;
    right: -1px;
    margin: 0;
    width: 320px;
    text-align: left;
    transition: opacity .2s ease;
    background: #fff;
    border-radius: 5px;
    z-index: $zindex-modal + 1;
    position: absolute;
    visibility: hidden;

    &.open{
        margin-top: -10px;
        @include opacity(1);
        visibility: visible;
        & ~ .dropdown-overlay{
            @include opacity($modal-backdrop-opacity);
            visibility: visible;
        }  
    }

    &:before{
        display: block;
        content: '';
        width: 0;
        height: 0;
        border: 7px solid transparent;
        border-bottom-color: #fff;
        position: absolute;
        right: 191px;
        top: -14px;
    }

    .dropdown-title{
        padding: 31px 60px 13px 30px;
        font-size: 18px;
        border-bottom: 1px solid #e3e3e3;
    }

    .dropdown-body{
        padding: 25px 28px 17px 30px;
    }

    .form-submit-row{
        border-top: 1px solid #e3e3e3;
        padding: 18px 30px 20px 30px;

        .btn{
            min-width: 110px;
        }

    }
    .forgot{
        display: inline-block;
        vertical-align: top;
        color: $color1;
        margin: 11px 0 0 0;
        font-size: 12px;

        &:hover{
            color: $color3;
        }
    }
}

.modal-open {
    overflow: hidden;
}

.modal-open-noscroll {
    margin-right: 17px;
}

.modal {
    display: none;
    overflow: hidden;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: $zindex-modal + 1;
    -webkit-overflow-scrolling: touch;
    outline: 0;

    &.fade .modal-dialog {
        @include translate(0, -25%);
        @include transition-transform(0.3s ease-out);
    }
    
    &.in .modal-dialog { 
        @include translate(0, 0) 
    }

    .note{
        background: $color2;
        color: #fff;
        padding: 21px 27px 19px 20px;
        font-size: 18px;

        .d2{
            font-weight: bold;
            margin-top: 3px;
        }
    }
}
.modal-open .modal {
    overflow-x: hidden;
    overflow-y: auto;
}

.modal-dialog {
    position: relative;
    width: $default-modal;
    margin: 100px auto;
}

.modal-content {
    position: relative;
    background: #fff;
    outline: 0;
    border-radius: 5px;
}

.modal-backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: $zindex-modal;
    background-color: $modal-backdrop-bg;
    
    &.fade { 
        @include opacity(0); 
    }

    &.in { 
        @include opacity($modal-backdrop-opacity); 
    }
}


.modal-header{
    border-bottom: 1px solid #e3e3e3;
    position: relative;
    padding: 24px 60px 11px 36px;

    .modal-title{
        font-size: 24px;
    }
}
// .quick-buy-modal
// =========================
.quick-buy-modal{
    .modal-header{
        padding: 24px 60px 16px 29px;

        .modal-title{
            font-size: 18px;
            line-height: 1.35;
        }
    }

    .form-groups{
        padding: 22px 29px 16px 29px;

        .fancy-select .trigger{
            padding: 9px 40px 9px 12px;
        }
    }

    .btn-row{
        padding: 17px 0 19px 0;

        .btn{
            padding: 11px 36px 12px;
        }
    }
}


// text-modal
// =============================
.text-modal{

    .modal-body{
        padding: 34px 36px 34px 36px;
    }

    hr{
        margin: 22px -30px;
    }

    .italic{
        font-style: italic;
        color: $color6;
        font-size: $font-size-base + 4;
        margin-bottom: 11px;
    }

    p + .italic{
       margin-top: -8px;
    }

    .h1{
        margin-bottom: 14px;
    }
}

// Modals width
#basketModal{

    .modal-dialog{
        width: $basket-modal;
    }
}

#quickBuyModal{
    .modal-dialog{
        width: $quick-buy-modal;
    }
}