.module-basket-items{

    .item{
        @include pie-clearfix();
        border-bottom: 1px solid #e6e6e6;
        padding: 10px 35px 8px 29px;
    }

    .thumb{
        width: 50px;
        margin: 10px 17px 0 0;
        text-align: center;

        img{
            display: inline-block;
            vertical-align: top;
        }
    }

    .item-title{
        width: 206px;
        line-height: 1.5;
        margin-right: 55px;

        a{
            text-decoration: none;
            color: $color1;

            &:hover{
                text-decoration: none;
                color: $color3;
            }
        }
    }

    .items-increment{
        width: 120px;
        min-height: 1px;
        padding: 14px 0 0 9px;
    }

    .cost{
        text-align: right;
        width: 139px;
        padding-left: 20px;
        color: #0073b4;
        font-size: 14px;
        font-weight: bold;
        padding: 19px 0 0 15px;
    }


    .cost-items-row {
        background: #f0f0f0;
        font-size: 18px;
        padding: 16px 40px 16px 40px;

        .t{
            display: inline-block;
            vertical-align: top;
        }

        .n{
            display: inline-block;
            vertical-align: top;
            color: $color2;
            font-weight: bold;
            margin-left: 46px;
        }
    }
}

.module-delivery{

    .inner{
        background: $color4;
        padding: 19px 39px 20px 38px;
    }

    .module-title{
        color: #fff;
        font-size: 24px;
        margin: 0 0 21px;
    }

    .form-group{
        margin: 0 0 8px;
        label{
            color: #fff;
            display: block;
            margin: 9px 0 0 1px;
        }

        .fancy-select{
            margin: 0 0 0 13px;

            .trigger{
                padding: 9px 40px 9px 11px;
            }
        }
    }

    .cost-items-row{
        background: darken($color4, 5.5);
        padding: 16px 50px 15px 16px;
        color: #fff;
        font-size: 18px;

        .t{
            display: inline-block;
            vertical-align: top;
        }

        .n{
            font-weight: bold;
            display: inline-block;
            vertical-align: top;
            min-width: 100px;
            margin-left: 31px;
        }
    }
}

.modal-basket-list{
    .result-cost{
        padding: 14px 39px 14px 20px;

        .btn{
            padding: 11px 26px 12px;
        }

        .n{
            font-weight: bold;
            display: inline-block;
            vertical-align: top;
            font-size: 18px;
            margin: 7px 18px 0 14px;
        }

        .t{
            font-size: 18px;
        }
    }
}