.page-top{
    background: $color1;
    height: 50px;
    padding-top: 17px;
    position: relative;
    z-index: 102;

    .top-nav{
        padding: 0 0 0 22px;
        ul{
            @extend %inline-blocks;

            li{
                font-size: $font-size-base;
                margin-left: 22px;

                &:first-child{
                    margin-left: 0;
                }


                a{
                    color: #999fa5;
                    text-decoration: none;

                    &:hover{
                        color: #fff;
                    }
                }

            }
        }
    }

    .favorite{
        display: inline-block;
        position: relative;
        text-decoration: none;
        color: #999fa5;
        padding: 0 0 0 25px;
        margin: 0 17px 0 0;

        &:before{
            @extend .sp-favorite;
            display: block;
            content: '';
            position: absolute;
            left: 0;
            top: -2px;
        }
    }

    a.favorite{
        &:hover{
            color: #fff;
        }
    }

}
.user-side{
    padding-right: 44px;
    font-size: 14px;
    display: inline-block;
    position: relative;

    .sep{
        font-size: 12px;
        color: #999fa5;
        margin: 0 11px;
    }

    & > a{
        text-decoration: none;
        color: #fff;

        &:hover{
            text-decoration: underline;
        }
    }

    .reg{
        margin-right: 10px;
    }

    &.authin{
        color: #fff;
        margin: 0 9px 0 0;

        .welcome{
            font-size: 11px;
            display: inline-block;
            vertical-align: top;
            margin: 2px 6px 0 0;
        }

        .name{
            font-size: 14px;
            display: inline-block;
            vertical-align: top;
            position: relative;
            padding-right: 20px;

            &:before{
                @extend .sp-u-arr-down;
                display: block;
                content: '';
                position: absolute;
                right: 0;
                top: 4px;
            }

            &[aria-expanded="true"]{
                &:before{
                    @extend .sp-u-arr-top;
                }
            }

            .n{
                position: absolute;
                right: 2px;
                top: -12px;
                background: $color3;
                border-radius: 100%;
                padding: 0 2px;
                font-size: 11px;
                min-width: 17px;
                text-align: center;
                height: 17px;
                line-height: 17px;

                &:before{
                    @extend .sp-orblbl;
                    display: block;
                    content: '';
                    position: absolute;
                    bottom: 0;
                    left: 0;
                }
            }
        }

        .user-ui-panel{
            transition: all .2s ease;
            position: absolute;
            right: 16px;
            top: 100%;
            min-width: 168px;
            overflow: hidden;
            text-align: left;
            margin: 30px 0 0 0;
            opacity: 0;
            visibility: hidden;
            backface-visibility: hidden;

            &.open{
                opacity: 1;
                visibility: visible;
                margin-top: 20px;
            }

            ul{
                list-style-type: none;
                margin: 0;
                padding: 0;
                background: #40454a;
                border-radius: 5px;
                
                li{
                    margin: 0;
                    padding: 0;

                    &:first-child{
                        a{
                            border-top: none;
                            border-radius: 5px 5px 0 0;
                        }
                    }
                    &:last-child{
                        a{
                            border-radius: 0 0 5px 5px;
                        }
                    }
                }

                a{
                    transition: background .2s ease;
                    display: block;
                    position: relative;
                    padding: 10px 17px 10px 17px;
                    border-top: 1px solid #50565b;
                    color: #fff;
                    text-decoration: none;
                    font-size: 12px;
                    white-space: nowrap;

                    &:hover{
                        text-decoration: none;
                        color: #fff;
                        background: #4d5156;
                    }

                    .n{
                        display: inline-block;
                        vertical-align: top;
                        background: $color3;
                        min-width: 17px;
                        min-height: 17px;
                        text-align: center;
                        line-height: 17px;
                        margin: -3px 0 0 5px;
                        border-radius: 100%;
                        font-size: 11px;
                    }
                }
            }
        }
    }
}