.product-card{

    .breadcrumbs{
        padding: 12px 2px 12px 2px;
    }

    .module-body{
        padding: 22px 25px 43px 36px;
    }

    .product-data{
        padding: 0 0 0 23px;

        .product-title{
            font-size: 24px;
            margin-bottom: 37px;

            h1{
                margin: 0;
            }
        }

        .data-cols{
            position: relative;
            margin: 0 88px 0 3px;

            &:before{
                display: block;
                content: '';
                width: 1px;
                height: 100%;
                position: absolute;
                background: #e6e6e6;
                top: 0;
                left: 50%;
                margin-left: -3px;
            }

            .cost-1{
                font-weight: bold;
                color: $color2;
                font-size: 24px;
                margin: 4px 0 12px 0;
            }

            .cost-2{
                color: #905a36;
                font-size: 12px;
                margin-bottom: 25px;

                span{
                    margin: 0 15px 0 1px;
                }
            }

            .btns{
                margin: 0 0 0 9px;
            }

            .rules-delivery{
                cursor: pointer;
                margin-top: 15px;
                text-decoration: underline;
                display: inline-block;
                vertical-align: top;

                &:hover{
                    color: $color3;
                }
            }
        }
    }

    & + .module{
        margin-top: 10px;
    }
}

.product-description{
    margin-top: 10px;

    .module-body{
        padding: 18px 31px 28px 31px;
    }

    & + .module{
        margin-top: 10px;
    }
}