.main-search-panel{
    position: relative;
    z-index: 100;

    .panel{
        background: #005a8f;
        border-radius: 0 0 5px 5px;
        padding: 17px 28px 17px 20px;
        position: relative;
        z-index: 2;
    }

    .target-trigger{
        display: inline-block;
        vertical-align: top;
        position: relative;
        margin: 13px 2px 0 0;
        padding: 0 24px 0 0;
        cursor: pointer;
        color: #36a1dd;

        &:hover{
            color: #fff;
            &:before{
                @extend .sp-arr-down-white;
            }
        }

        &:before{
            @extend .sp-arr-down-blue;
            display: block;
            content: '';
            position: absolute;
            right: 0;
            top: 2px;
        }

        &[aria-expanded^="true"]{
            &:before{
                @extend .sp-arr-top-blue;
            }

            &:hover{
                &:before{
                    @extend .sp-arr-top-white;
                }
            }

        }
    }

    .column{
        float: left;
        width: 50%;
        padding-left: 10px;

        &:first-child{
            padding-left: 0;
        }
    }

    .extend-search{
        transition: top .2s ease;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        background: #004e7b;
        margin-top: -10px;
        padding: 24px 28px 17px 20px;
        border-radius: 0 0 5px 5px;
        z-index: 1;
        height: auto !important;

        &.open{
            top: 100%;
        }
    }
}

.search-form{
    @extend .clearfix;
    height: 36px;
    position: relative;
    padding-right: 99px;

    .input-wrapper{
        position: relative;

        &:before{
            @extend .sp-search;
            display: block;
            content: '';
            position: absolute;
            left: 14px;
            top: 10px;
        }
    }


    .form-control{
        padding: 12px 20px 10px 39px;
        border: none;
        box-shadow: inset 0 2px 2px rgba(0,0,0,.2);
    }

    .fancy-select .trigger{
        border: none;
    }

    .search-action{
        position: absolute;
        right: 0;
        top: 0;
    }
}


.autocmplete-results{
    position: absolute;
    width: 100%;
    background: #fff;
    z-index: 1001;
    left: 0;
    top: 100%;
    margin-top: 5px;
    display: none;
    box-shadow: 0 2px 2px rgba(#000, .2);
    border-radius: 3px;

    .results-colums{
        overflow: hidden;

        .col-left{
            float: left;
            width: 275px;
            border-right: 1px solid #e6e6e6;
            margin-bottom: -1000px;
            padding-bottom: 1000px;
        }

        .col-right{
            margin-left: 275px;
            margin-bottom: -1000px;
            padding-bottom: 1000px;
            overflow: hidden;
        }
    }

    .close-row{
        border-top: 1px solid #e6e6e6;
        padding: 10px;
    }

    .result-catalog-list{
        padding: 17px 23px 3px 23px;

        .t{
            font-size: 18px;
            font-weight: bold;
            margin-bottom: 15px;

            span{
                font-weight: normal;
                color: $color2;
                margin: 0 0 0 5px;
                font-size: $font-size-base;
            }
        }

        .result-catalog-items{
            ul{
                list-style-type: none;
                margin: 0;
                padding: 0;
            }

            a{
                color: $color1;
                text-decoration: none;
                font-size: $font-size-base;

                &:hover{
                    color: $color2;
                    text-decoration: none;
                }
            }

            .root{
                margin: 0 0 0 14px;

                & > li{
                    font-weight: bold;
                    margin-bottom: 15px;

                    & > a{
                        font-size: $font-size-base + 2;
                    }
                }
            }

            .dept{
                margin: 9px 0 0 21px;

                & > li{
                    margin-top: 10px;
                    font-weight: normal;

                    &:first-child{
                        margin-top: 0;
                    }
                }
            }
        }
    }

    .custom-list{
        list-style-type: none;
        margin: 0;
        padding: 0;

        .item{
            @include pie-clearfix();
            border-top: 1px solid #e6e6e6;
            padding: 15px 20px 13px 14px;
            cursor: pointer;

            &:first-child{
                border-top: none;
            }

            &:hover{
                color: $color3;
            }
        }

        .item-thumb{
            float: left;
            width: 50px;
            text-align: center;

            img{
                display: inline-block;
                vertical-align: top;
            }
        }

        .item-description{
            width: 215px;
            float: left;
            padding: 0 0 0 17px;
            line-height: 1.45;
            font-size: 12px;
        }

        .item-cost{
            text-align: right;
            float: right;
            width: 110px;

            .costs{
                display: inline-block;
                vertical-align: top;
                text-align: left;
            }

            .cost-1{
                color: $color2;
                font-weight: bold;
                font-size: 14px;
                margin: -1px 0 7px 0;
            }

            .cost-2{
                font-size: 11px;
                color: $color6;
                font-weight: normal;

                span{
                    margin-right: 4px;
                }
            }
        }
    }

    .all-results{
        border-top: 1px solid #e6e6e6;
        padding: 8px 20px;
    }
}