p{
    margin: 0 0 18px;
    line-height: 1.5;
}

a{
    color: map-get($colors, linkColor);
    text-decoration: underline;

    &:hover{
        color: map-get($colors, linkColorHover);
        text-decoration: underline;
    }
}

blockquote {
    font-style: italic;
    color: $color6;
    position: relative;
    padding: 11px 20px 11px 20px;
    font-size: 16px;
    font-family: Calibri;

    p{
        line-height: 1.4;
    }
}

h1, .h1{
    color: $color1;
    font-weight: normal;
    font-size: 24px;
    margin: 0 0 20px;
    line-height: 1.35;
}

h2, .h2{
    color: $color1;
    font-size: 18px;
    font-weight: bold;
    margin: 14px 0 19px;
}

h3, .h3{
    color: $color1;
    font-size: 16px;
    font-weight: bold;
    margin: 0 0 15px;
}

h4, .h4{
    color: $color1;
    font-size: 14px;
    font-weight: bold;
    margin: 0 0 15px;
}