// Base colors
$color1: #40454a; //Grey
$color2: #007dc4; //Blue
$color3: #ff751d; //Orange 
$color4: #0073b4; //Blue 2 
$color5: #e5e5e5; //Grey 
$color6: #8f5b39; //light-braun 
$color7: #8a8e91; //dark Grey 


// Colors
$colors:(
    mainBg: #eef3f5,
    textColor: $color1,
    linkColor: $color2,
    linkColorHover: $color3,
    error: #be1e1e
);


// Gradient colors

$default-gradient: (
    start: #b5b9ba,
    middle: #9a9da0,
    end: #8a8e91,
);

$primary-gradient: (
    start: #0085d0,
    middle: #0078bc,
    end: #0073b4,
);

$secondary-gradient: (
    start: #fe8235,
    middle: #e86b1e,
    end: #d45f16,
);


$light-gradient: (
    start: #fff,
    middle: #f7f9f9,
    end: #e4ebed,
);

$light-grey-gradient: (
    start: #fff,
    middle: #eaeef2,
    end: #d7e0e7,
);


// Typo
$font-family-base: 'Roboto', sans-serif;
$font-size-base: 12px;
$line-height-base: 1.2;


// Grid
$container-lg: 1020px;
$container-md: 998px;
$grid-gutter-width: 20px;
$max-global-width: 1200px;
$footer-height: 190px;
$left-width: 25.03333%;
$right-width: 100% - $left-width;


// Modal vars
$zindex-modal: 1040;
$modal-backdrop-bg: #000;
$modal-backdrop-opacity: 0.4;

$default-modal: 660px;
$basket-modal: 660px;
$text-modal: 660px;
$quick-buy-modal: 420px;