doctype
html
    include ../partials/head
    body
        .global
            .middle
                block content
        //- .modal-overlay
        include ../partials/footer
        include ../partials/scripts