/*! normalize.css v3.0.3 | MIT License | github.com/necolas/normalize.css */
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden],
template {
  display: none;
}

a {
  background-color: transparent;
}

a:active,
a:hover {
  outline: 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b,
strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

mark {
  background: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 1em 40px;
}

hr {
  box-sizing: content-box;
  height: 0;
}

pre {
  overflow: auto;
}

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}

button {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled],
html input[disabled] {
  cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input {
  line-height: normal;
}

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

input[type="search"] {
  -webkit-appearance: textfield;
  box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
}

optgroup {
  font-weight: bold;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  -webkit-tap-highlight-color: transparent;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  line-height: 1.2;
  color: #333333;
  background-color: #fff;
}

input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

a {
  color: #337ab7;
  text-decoration: none;
}
a:hover, a:focus {
  color: #23527c;
  text-decoration: underline;
}
a:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

figure {
  margin: 0;
}

img {
  vertical-align: middle;
}

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}

.img-rounded {
  border-radius: 6px;
}

.img-thumbnail {
  padding: 4px;
  line-height: 1.2;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  display: inline-block;
  max-width: 100%;
  height: auto;
}

.img-circle {
  border-radius: 50%;
}

hr {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid #eeeeee;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.sr-only-focusable:active, .sr-only-focusable:focus {
  position: static;
  width: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  clip: auto;
}

[role="button"] {
  cursor: pointer;
}

.clearfix:before, .carousel .owl-stage:before, .search-form:before, .front-colums:before, .clearfix:after, .carousel .owl-stage:after, .search-form:after, .front-colums:after {
  content: " ";
  display: table;
}
.clearfix:after, .carousel .owl-stage:after, .search-form:after, .front-colums:after {
  clear: both;
}

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.pull-right {
  float: right !important;
}

.pull-left {
  float: left !important;
}

.hide {
  display: none !important;
}

.show {
  display: block !important;
}

.invisible {
  visibility: hidden;
}

.text-hide {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}

.hidden {
  display: none !important;
}

.affix {
  position: fixed;
}

.page-top .top-nav ul, .footer .foo-nav ul, .main-nav .root {
  font-size: 0;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.page-top .top-nav ul li, .footer .foo-nav ul li, .main-nav .root li {
  display: inline-block;
  vertical-align: top;
  padding: 0;
  margin: 0;
}
.page-top .top-nav ul li:before, .footer .foo-nav ul li:before, .main-nav .root li:before {
  display: none;
}

.btn.btn-default {
  background: #b5b9ba;
  background: linear-gradient(to bottom, #b5b9ba, #9a9da0, #8a8e91);
}

.btn.btn-primary, .main-nav .root {
  background: #0078bc;
  background: linear-gradient(to bottom, #0085d0, #0078bc, #0073b4);
}

.btn.btn-secondary, .spinner span {
  background: #fe8235;
  background: linear-gradient(to bottom, #fe8235, #e86b1e, #d45f16);
}

.btn.btn-light-grey {
  background: #fff;
  background: linear-gradient(to bottom, #ffffff, #eaeef2, #d7e0e7);
}

.catefories-navigation ul li:hover > a, .catefories-navigation ul.root-list > li.active > a, .catefories-navigation ul a:hover {
  background: #fff;
  background: linear-gradient(to bottom, #ffffff, #f7f9f9, #e4ebed);
}

.sp-sprite, .sp-arr-act, .catefories-navigation ul.root-list > li:hover > a:before, .catefories-navigation ul.root-list > li.active > a:before, .sp-arr-down-blue, .main-search-panel .target-trigger:before, .sp-arr-down-grey, .form-elements .fancy-select .trigger:before, .sp-arr-down-white, .main-search-panel .target-trigger:hover:before, .sp-arr-down-white13x8, .btn.btn-arr-bottom-right:before, .sp-arr-down, .sp-arr-left-greysmall, .carousel .owl-nav .owl-prev:before, .sp-arr-left-whitesmall, .front-carousel .owl-nav .owl-prev:before, .sp-arr-right-grey, .sp-arr-right-greysmall, .carousel .owl-nav .owl-next:before, .sp-arr-right-white, .sp-arr-right-whitesmall, .btn.btn-arr-right:before, .front-carousel .owl-nav .owl-next:before, .sp-arr-right, .catefories-navigation ul.root-list > li > a:before, .sp-arr-top-blue, .main-search-panel .target-trigger[aria-expanded^="true"]:before, .sp-arr-top-grey, .form-elements .fancy-select .trigger.open:before, .sp-arr-top-white, .main-search-panel .target-trigger[aria-expanded^="true"]:hover:before, .sp-basket-orange, .header .header-basket:before, .sp-basket-white, .btn.btn-basket:before, .sp-cat-arr-act, .catefories-navigation ul.dept > li:hover > a:before, .sp-cat-arr-right, .catefories-navigation ul.dept a:before, .sp-close1, .modal-close:before, .sp-favorite, .page-top .favorite:before, .sp-orblbl, .user-side.authin .name .n:before, .sp-pag-arr-left, .pagination-type-2 .btn-prev:before, .sp-pag-arr-right, .pagination-type-2 .btn-next:before, .sp-search, .search-form .input-wrapper:before, .sp-u-arr-down, .user-side.authin .name:before, .sp-u-arr-top, .user-side.authin .name[aria-expanded="true"]:before, .sp-warning, .warging:before {
  background-image: url('../images/sp-s6a26232bfe.png');
  background-repeat: no-repeat;
}

.sp-arr-act, .catefories-navigation ul.root-list > li:hover > a:before, .catefories-navigation ul.root-list > li.active > a:before {
  background-position: -7px -71px;
  height: 14px;
  width: 9px;
}

.sp-arr-down-blue, .main-search-panel .target-trigger:before {
  background-position: 0 -18px;
  height: 9px;
  width: 15px;
}

.sp-arr-down-grey, .form-elements .fancy-select .trigger:before {
  background-position: -12px -85px;
  height: 10px;
  width: 18px;
}

.sp-arr-down-white, .main-search-panel .target-trigger:hover:before {
  background-position: -17px -9px;
  height: 9px;
  width: 15px;
}

.sp-arr-down-white13x8, .btn.btn-arr-bottom-right:before {
  background-position: -6px 0;
  height: 8px;
  width: 13px;
}

.sp-arr-down {
  background-position: -11px -46px;
  height: 9px;
  width: 15px;
}
.sp-arr-down:hover, .sp-arr-down.arr-down-hover {
  background-position: 0 -27px;
}

.sp-arr-left-greysmall, .carousel .owl-nav .owl-prev:before {
  background-position: 0 0;
  height: 9px;
  width: 6px;
}

.sp-arr-left-whitesmall, .front-carousel .owl-nav .owl-prev:before {
  background-position: -19px 0;
  height: 9px;
  width: 6px;
}

.sp-arr-right-grey {
  background-position: 0 -129px;
  height: 14px;
  width: 9px;
}

.sp-arr-right-greysmall, .carousel .owl-nav .owl-next:before {
  background-position: -25px 0;
  height: 9px;
  width: 6px;
}

.sp-arr-right-white {
  background-position: -11px -9px;
  height: 9px;
  width: 6px;
}

.sp-arr-right-whitesmall, .btn.btn-arr-right:before, .front-carousel .owl-nav .owl-next:before {
  background-position: -5px -36px;
  height: 9px;
  width: 6px;
}

.sp-arr-right, .catefories-navigation ul.root-list > li > a:before {
  background-position: -16px -71px;
  height: 14px;
  width: 9px;
}

.sp-arr-top-blue, .main-search-panel .target-trigger[aria-expanded^="true"]:before {
  background-position: -15px -27px;
  height: 9px;
  width: 15px;
}

.sp-arr-top-grey, .form-elements .fancy-select .trigger.open:before {
  background-position: -11px -36px;
  height: 10px;
  width: 18px;
}

.sp-arr-top-white, .main-search-panel .target-trigger[aria-expanded^="true"]:hover:before {
  background-position: -15px -18px;
  height: 9px;
  width: 15px;
}

.sp-basket-orange, .header .header-basket:before {
  background-position: 0 -145px;
  height: 26px;
  width: 32px;
}

.sp-basket-white, .btn.btn-basket:before {
  background-position: -9px -129px;
  height: 16px;
  width: 20px;
}

.sp-cat-arr-act, .catefories-navigation ul.dept > li:hover > a:before {
  background-position: -7px -55px;
  height: 11px;
  width: 7px;
}

.sp-cat-arr-right, .catefories-navigation ul.dept a:before {
  background-position: 0 -55px;
  height: 11px;
  width: 7px;
}

.sp-close1, .modal-close:before {
  background-position: 0 -85px;
  height: 12px;
  width: 12px;
}

.sp-favorite, .page-top .favorite:before {
  background-position: -14px -55px;
  height: 16px;
  width: 16px;
}
.sp-favorite:hover, .page-top .favorite:hover:before, .sp-favorite.favorite-hover, .page-top .favorite-hover.favorite:before {
  background-position: -7px -97px;
}

.sp-orblbl, .user-side.authin .name .n:before {
  background-position: 0 -36px;
  height: 5px;
  width: 5px;
}

.sp-pag-arr-left, .pagination-type-2 .btn-prev:before {
  background-position: 0 -71px;
  height: 11px;
  width: 7px;
}

.sp-pag-arr-right, .pagination-type-2 .btn-next:before {
  background-position: 0 -97px;
  height: 11px;
  width: 7px;
}

.sp-search, .search-form .input-wrapper:before {
  background-position: 0 -113px;
  height: 16px;
  width: 16px;
}

.sp-u-arr-down, .user-side.authin .name:before {
  background-position: 0 -9px;
  height: 7px;
  width: 11px;
}

.sp-u-arr-top, .user-side.authin .name[aria-expanded="true"]:before {
  background-position: 0 -46px;
  height: 7px;
  width: 11px;
}

.sp-warning, .warging:before {
  background-position: 0 -171px;
  height: 30px;
  width: 30px;
}

body {
  background-color: #eef3f5;
  background-image: url('../images/bg-top.jpg?1436882580');
  background-repeat: no-repeat;
  background-position: center 0;
  min-width: 998px;
}

.global {
  background: url('../images/bg-bottom.jpg?1437079921') center 100% no-repeat;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.baner {
  overflow: hidden;
  border-radius: 5px;
  margin: 0 0 17px;
  position: relative;
}
.baner.has-btn .btn-row {
  text-align: center;
  position: absolute;
  bottom: 57px;
  left: 0;
  width: 100%;
}

.module {
  background: #fff;
  border-radius: 5px;
}
.module .module-top-row {
  border-bottom: 1px solid #e6e6e6;
  padding: 21px 27px 9px 27px;
  margin-bottom: 8px;
}
.module .module-title {
  font-size: 24px;
}
.module .module-body {
  padding: 0 5px 11px;
}
.module + .module {
  margin-top: 16px;
}

[data-toggle="dropdown"] {
  cursor: pointer;
}

.breadcrumbs {
  font-size: 11px;
}
.breadcrumbs a {
  color: #b0b4b6;
  display: inline-block;
  vertical-align: top;
  text-decoration: none;
}
.breadcrumbs a:hover {
  text-decoration: none;
  color: #007dc4;
}
.breadcrumbs .sep {
  display: inline-block;
  vertical-align: top;
  color: #b0b4b6;
  margin: 1px 8px 0;
}
.breadcrumbs .last {
  display: inline;
  vertical-align: top;
  color: #787d80;
}

.has {
  color: #ff751d;
  position: relative;
  padding: 0 0 0 10px;
}
.has:before {
  display: block;
  content: '';
  width: 4px;
  height: 4px;
  border-radius: 100%;
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -2px;
  background: #ff751d;
}

.module-text-entries {
  margin-top: 10px;
  margin-bottom: 6px;
}
.module-text-entries .module-body {
  padding: 20px 27px 14px 27px;
}
.module-text-entries .module-body h1, .module-text-entries .module-body .h1 {
  margin-bottom: 9px;
}
.module-text-entries .module-body p {
  margin-left: 2px;
}

.warging {
  font-style: italic;
  color: #8f5b39;
  position: relative;
  padding: 11px 20px 11px 50px;
  font-size: 16px;
  font-family: Calibri;
}
.warging p {
  line-height: 1.4;
}
.warging:before {
  display: block;
  content: '';
  position: absolute;
  left: 3px;
  top: 16px;
}

.carousel {
  position: relative;
}
.carousel .owl-stage-outer {
  overflow: hidden;
}
.carousel .owl-stage {
  position: relative;
}
.carousel .owl-item {
  float: left;
}
.carousel .owl-nav {
  position: absolute;
  right: 8px;
  bottom: 3px;
  z-index: 98;
  overflow: hidden;
  width: 61px;
}
.carousel .owl-nav.disabled {
  display: none;
}
.carousel .owl-nav .owl-prev, .carousel .owl-nav .owl-next {
  transition: all .2s ease;
  float: left;
  width: 50%;
  background: #e5e5e5;
  height: 30px;
  cursor: pointer;
  text-indent: -9999px;
  position: relative;
  user-select: none;
}
.carousel .owl-nav .owl-prev:hover, .carousel .owl-nav .owl-next:hover {
  background: #d8d8d8;
}
.carousel .owl-nav .owl-prev:before, .carousel .owl-nav .owl-next:before {
  display: block;
  content: '';
  position: absolute;
  left: 50%;
  top: 50%;
}
.carousel .owl-nav .owl-prev.disabled, .carousel .owl-nav .owl-next.disabled {
  cursor: default;
  opacity: .5;
}
.carousel .owl-nav .owl-prev {
  border-radius: 3px 0 0 3px;
}
.carousel .owl-nav .owl-prev:before {
  margin-top: -4.5px;
  margin-left: -3px;
}
.carousel .owl-nav .owl-prev.disabled:hover {
  background: #e5e5e5;
}
.carousel .owl-nav .owl-next {
  border-radius: 0 3px 3px 0;
}
.carousel .owl-nav .owl-next.disabled:hover {
  background: #e5e5e5;
}
.carousel .owl-nav .owl-next:before {
  margin-top: -4.5px;
  margin-left: -3px;
}

html, body {
  height: 100%;
}

.global {
  min-height: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.middle {
  padding-bottom: 207px;
  min-height: 380px;
}

.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 10px;
  padding-right: 10px;
  width: 1020px;
}
.container:before, .container:after {
  content: " ";
  display: table;
}
.container:after {
  clear: both;
}
@media (max-width: 1040px) {
  .container {
    width: 998px;
  }
}

.row {
  margin-left: -10px;
  margin-right: -10px;
}
.row:before, .row:after {
  content: " ";
  display: table;
}
.row:after {
  clear: both;
}

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  position: relative;
  min-height: 1px;
  padding-left: 10px;
  padding-right: 10px;
}

.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
  float: left;
}

.col-md-1 {
  width: 8.33333%;
}

.col-md-2 {
  width: 16.66667%;
}

.col-md-3 {
  width: 25%;
}

.col-md-4 {
  width: 33.33333%;
}

.col-md-5 {
  width: 41.66667%;
}

.col-md-6 {
  width: 50%;
}

.col-md-7 {
  width: 58.33333%;
}

.col-md-8 {
  width: 66.66667%;
}

.col-md-9 {
  width: 75%;
}

.col-md-10 {
  width: 83.33333%;
}

.col-md-11 {
  width: 91.66667%;
}

.col-md-12 {
  width: 100%;
}

.col-md-pull-0 {
  right: auto;
}

.col-md-pull-1 {
  right: 8.33333%;
}

.col-md-pull-2 {
  right: 16.66667%;
}

.col-md-pull-3 {
  right: 25%;
}

.col-md-pull-4 {
  right: 33.33333%;
}

.col-md-pull-5 {
  right: 41.66667%;
}

.col-md-pull-6 {
  right: 50%;
}

.col-md-pull-7 {
  right: 58.33333%;
}

.col-md-pull-8 {
  right: 66.66667%;
}

.col-md-pull-9 {
  right: 75%;
}

.col-md-pull-10 {
  right: 83.33333%;
}

.col-md-pull-11 {
  right: 91.66667%;
}

.col-md-pull-12 {
  right: 100%;
}

.col-md-push-0 {
  left: auto;
}

.col-md-push-1 {
  left: 8.33333%;
}

.col-md-push-2 {
  left: 16.66667%;
}

.col-md-push-3 {
  left: 25%;
}

.col-md-push-4 {
  left: 33.33333%;
}

.col-md-push-5 {
  left: 41.66667%;
}

.col-md-push-6 {
  left: 50%;
}

.col-md-push-7 {
  left: 58.33333%;
}

.col-md-push-8 {
  left: 66.66667%;
}

.col-md-push-9 {
  left: 75%;
}

.col-md-push-10 {
  left: 83.33333%;
}

.col-md-push-11 {
  left: 91.66667%;
}

.col-md-push-12 {
  left: 100%;
}

.col-md-offset-0 {
  margin-left: 0%;
}

.col-md-offset-1 {
  margin-left: 8.33333%;
}

.col-md-offset-2 {
  margin-left: 16.66667%;
}

.col-md-offset-3 {
  margin-left: 25%;
}

.col-md-offset-4 {
  margin-left: 33.33333%;
}

.col-md-offset-5 {
  margin-left: 41.66667%;
}

.col-md-offset-6 {
  margin-left: 50%;
}

.col-md-offset-7 {
  margin-left: 58.33333%;
}

.col-md-offset-8 {
  margin-left: 66.66667%;
}

.col-md-offset-9 {
  margin-left: 75%;
}

.col-md-offset-10 {
  margin-left: 83.33333%;
}

.col-md-offset-11 {
  margin-left: 91.66667%;
}

.col-md-offset-12 {
  margin-left: 100%;
}

.sidebar {
  width: 26.4%;
}

.content {
  width: 73.6%;
}

p {
  margin: 0 0 18px;
  line-height: 1.5;
}

a {
  color: #007dc4;
  text-decoration: underline;
}
a:hover {
  color: #ff751d;
  text-decoration: underline;
}

blockquote {
  font-style: italic;
  color: #8f5b39;
  position: relative;
  padding: 11px 20px 11px 20px;
  font-size: 16px;
  font-family: Calibri;
}
blockquote p {
  line-height: 1.4;
}

h1, .h1 {
  color: #40454a;
  font-weight: normal;
  font-size: 24px;
  margin: 0 0 20px;
  line-height: 1.35;
}

h2, .h2 {
  color: #40454a;
  font-size: 18px;
  font-weight: bold;
  margin: 14px 0 19px;
}

h3, .h3 {
  color: #40454a;
  font-size: 16px;
  font-weight: bold;
  margin: 0 0 15px;
}

h4, .h4 {
  color: #40454a;
  font-size: 14px;
  font-weight: bold;
  margin: 0 0 15px;
}

.btn {
  overflow: visible;
  display: inline-block;
  margin-bottom: 0;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: none;
  white-space: nowrap;
  border-radius: 3px;
  position: relative;
  text-decoration: none;
  outline: none !important;
}
.btn:hover {
  text-decoration: none;
}
.btn.btn-default {
  padding: 11px 15px 11px 15px;
  color: #fff;
}
.btn.btn-default:hover {
  background: #8a8e91;
}
.btn.btn-primary {
  color: #fff;
  padding: 11px 15px 11px 15px;
  min-width: 90px;
}
.btn.btn-primary:hover {
  background: #007dc4;
}
.btn.btn-secondary {
  color: #fff;
  padding: 10px 20px 11px;
}
.btn.btn-secondary:hover {
  background: #ff751d;
}
.btn.btn-secondary.btn-small {
  padding: 5px 13px 7px;
}
.btn.btn-light-grey {
  color: #40454a;
  padding: 10px 20px 11px;
}
.btn.btn-light-grey:hover, .btn.btn-light-grey.btn-active {
  background: #ff751d;
  color: #fff;
}
.btn.btn-light-grey.btn-small {
  padding: 6px 14px 7px;
}
.btn.btn-arr:before, .btn.btn-icon:before {
  display: block;
  content: '';
  position: absolute;
}
.btn.btn-arr-right {
  padding: 11px 30px 12px 18px;
}
.btn.btn-arr-right:before {
  right: 14px;
  top: 50%;
  margin-top: -4.5px;
}
.btn.btn-arr-bottom-right {
  padding: 11px 40px 11px 24px;
}
.btn.btn-arr-bottom-right:before {
  right: 22px;
  top: 50%;
  margin-top: -4px;
}
.btn.btn-basket {
  text-align: right;
  padding: 11px 20px 11px 40px;
}
.btn.btn-basket:before {
  left: 14px;
  top: 50%;
  margin-top: -8px;
}

.btn-block {
  display: block;
  width: 100%;
}

.btn-block + .btn-block {
  margin-top: 6px;
}

input[type="submit"].btn-block,
input[type="reset"].btn-block,
input[type="button"].btn-block {
  width: 100%;
}

.form-elements .form-control {
  display: block;
  border: 1px solid #c4c4c4;
  outline: none !important;
  background: #fff;
  border-radius: 3px;
  width: 100%;
  padding: 9px 10px 9px;
  box-shadow: inset 0 2px 2px rgba(0, 0, 0, 0.1);
  font-size: 12px;
}
.form-elements .form-control:-moz-placeholder {
  color: #40454a;
}
.form-elements .form-control::-moz-placeholder {
  color: #40454a;
}
.form-elements .form-control:-ms-input-placeholder {
  color: #40454a;
}
.form-elements .form-control::-webkit-input-placeholder {
  color: #40454a;
}
.form-elements .form-control.error {
  border-color: #be1e1e;
}
.form-elements .form-group {
  margin-bottom: 11px;
  position: relative;
}
.form-elements label.error {
  position: absolute;
  right: 10px;
  top: 11px;
  font-size: 10px;
  color: #be1e1e;
}
.form-elements .fancy-select {
  display: block;
  position: relative;
}
.form-elements .fancy-select .trigger {
  display: block;
  border: none;
  outline: none !important;
  background: #fff;
  border-radius: 3px;
  width: 100%;
  padding: 12px 40px 10px 16px;
  box-shadow: inset 0 2px 2px rgba(0, 0, 0, 0.2);
  color: #4a4f54;
  font-size: 12px;
  cursor: pointer;
  position: relative;
  border: 1px solid #c4c4c4;
}
.form-elements .fancy-select .trigger:before {
  display: block;
  content: '';
  position: absolute;
  right: 9px;
  top: 50%;
  margin-top: -5px;
}
.form-elements .fancy-select select.error ~ .trigger {
  border-color: #be1e1e;
}
.form-elements .fancy-select label.error {
  visibility: hidden;
  opacity: 0;
  display: none !important;
}
.form-elements .fancy-select .options {
  list-style-type: none;
  padding: 0;
  transition: all .1s ease;
  position: absolute;
  width: 100%;
  background: #fff;
  border-radius: 3px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
  opacity: 0;
  visibility: hidden;
  left: 0;
  top: 100%;
  margin-top: 10px;
  overflow-x: hidden;
  max-height: 350px;
  z-index: 10;
}
.form-elements .fancy-select .options li {
  transition: all .1s ease;
  display: block;
  padding: 10px 16px;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.form-elements .fancy-select .options li:hover, .form-elements .fancy-select .options li.selected {
  background: rgba(0, 0, 0, 0.05);
}
.form-elements .fancy-select .options.open {
  margin-top: 5px;
  opacity: 1;
  visibility: visible;
}

.spinner {
  position: relative;
  padding: 0 35px;
}
.spinner span {
  display: block;
  width: 28px;
  height: 26px;
  border-radius: 2px;
  cursor: pointer;
  position: absolute;
  top: 0;
  user-select: none;
}
.spinner span:hover {
  background: #ff751d;
}
.spinner span:before {
  display: block;
  content: '';
  background: #fff;
  width: 9px;
  height: 3px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -1px 0 0 -4px;
}
.spinner span.down {
  left: 0;
}
.spinner span.up {
  right: 0;
}
.spinner span.up:after {
  display: block;
  content: '';
  width: 3px;
  height: 9px;
  top: 50%;
  left: 50%;
  background: #fff;
  margin: -4px 0 0 -1px;
  position: absolute;
}
.spinner .form-control {
  padding: 5px 9px;
  text-align: left;
}

.modal-close {
  transition: background .2s ease;
  position: absolute;
  right: 15px;
  top: 14px;
  width: 30px;
  height: 30px;
  border-radius: 3px;
  background: #e5e5e5;
  z-index: 2;
  cursor: pointer;
}
.modal-close:hover {
  background: #d8d8d8;
}
.modal-close:before {
  display: block;
  content: '';
  position: absolute;
  left: 50%;
  top: 50%;
  margin-top: -6px;
  margin-left: -6px;
}

.dropdown-overlay {
  opacity: 0;
  filter: alpha(opacity=0);
  visibility: hidden;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  background: #000;
}

.auth-dropdown {
  opacity: 0;
  filter: alpha(opacity=0);
  transition: opacity .2s ease, margin .2s ease;
  top: 70px;
  left: auto;
  right: -1px;
  margin: 0;
  width: 320px;
  text-align: left;
  transition: opacity .2s ease;
  background: #fff;
  border-radius: 5px;
  z-index: 1041;
  position: absolute;
  visibility: hidden;
}
.auth-dropdown.open {
  margin-top: -10px;
  opacity: 1;
  filter: alpha(opacity=100);
  visibility: visible;
}
.auth-dropdown.open ~ .dropdown-overlay {
  opacity: 0.4;
  filter: alpha(opacity=40);
  visibility: visible;
}
.auth-dropdown:before {
  display: block;
  content: '';
  width: 0;
  height: 0;
  border: 7px solid transparent;
  border-bottom-color: #fff;
  position: absolute;
  right: 191px;
  top: -14px;
}
.auth-dropdown .dropdown-title {
  padding: 31px 60px 13px 30px;
  font-size: 18px;
  border-bottom: 1px solid #e3e3e3;
}
.auth-dropdown .dropdown-body {
  padding: 25px 28px 17px 30px;
}
.auth-dropdown .form-submit-row {
  border-top: 1px solid #e3e3e3;
  padding: 18px 30px 20px 30px;
}
.auth-dropdown .form-submit-row .btn {
  min-width: 110px;
}
.auth-dropdown .forgot {
  display: inline-block;
  vertical-align: top;
  color: #40454a;
  margin: 11px 0 0 0;
  font-size: 12px;
}
.auth-dropdown .forgot:hover {
  color: #ff751d;
}

.modal-open {
  overflow: hidden;
}

.modal-open-noscroll {
  margin-right: 17px;
}

.modal {
  display: none;
  overflow: hidden;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1041;
  -webkit-overflow-scrolling: touch;
  outline: 0;
}
.modal.fade .modal-dialog {
  -webkit-transform: translate(0, -25%);
  -ms-transform: translate(0, -25%);
  -o-transform: translate(0, -25%);
  transform: translate(0, -25%);
  -webkit-transition: -webkit-transform 0.3s ease-out;
  -moz-transition: -moz-transform 0.3s ease-out;
  -o-transition: -o-transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
}
.modal.in .modal-dialog {
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transform: translate(0, 0);
}
.modal .note {
  background: #007dc4;
  color: #fff;
  padding: 21px 27px 19px 20px;
  font-size: 18px;
}
.modal .note .d2 {
  font-weight: bold;
  margin-top: 3px;
}

.modal-open .modal {
  overflow-x: hidden;
  overflow-y: auto;
}

.modal-dialog {
  position: relative;
  width: 660px;
  margin: 100px auto;
}

.modal-content {
  position: relative;
  background: #fff;
  outline: 0;
  border-radius: 5px;
}

.modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1040;
  background-color: #000;
}
.modal-backdrop.fade {
  opacity: 0;
  filter: alpha(opacity=0);
}
.modal-backdrop.in {
  opacity: 0.4;
  filter: alpha(opacity=40);
}

.modal-header {
  border-bottom: 1px solid #e3e3e3;
  position: relative;
  padding: 24px 60px 11px 36px;
}
.modal-header .modal-title {
  font-size: 24px;
}

.quick-buy-modal .modal-header {
  padding: 24px 60px 16px 29px;
}
.quick-buy-modal .modal-header .modal-title {
  font-size: 18px;
  line-height: 1.35;
}
.quick-buy-modal .form-groups {
  padding: 22px 29px 16px 29px;
}
.quick-buy-modal .form-groups .fancy-select .trigger {
  padding: 9px 40px 9px 12px;
}
.quick-buy-modal .btn-row {
  padding: 17px 0 19px 0;
}
.quick-buy-modal .btn-row .btn {
  padding: 11px 36px 12px;
}

.text-modal .modal-body {
  padding: 34px 36px 34px 36px;
}
.text-modal hr {
  margin: 22px -30px;
}
.text-modal .italic {
  font-style: italic;
  color: #8f5b39;
  font-size: 16px;
  margin-bottom: 11px;
}
.text-modal p + .italic {
  margin-top: -8px;
}
.text-modal .h1 {
  margin-bottom: 14px;
}

#basketModal .modal-dialog {
  width: 660px;
}

#quickBuyModal .modal-dialog {
  width: 420px;
}

.page-top {
  background: #40454a;
  height: 50px;
  padding-top: 17px;
  position: relative;
  z-index: 102;
}
.page-top .top-nav {
  padding: 0 0 0 22px;
}
.page-top .top-nav ul li {
  font-size: 12px;
  margin-left: 22px;
}
.page-top .top-nav ul li:first-child {
  margin-left: 0;
}
.page-top .top-nav ul li a {
  color: #999fa5;
  text-decoration: none;
}
.page-top .top-nav ul li a:hover {
  color: #fff;
}
.page-top .favorite {
  display: inline-block;
  position: relative;
  text-decoration: none;
  color: #999fa5;
  padding: 0 0 0 25px;
  margin: 0 17px 0 0;
}
.page-top .favorite:before {
  display: block;
  content: '';
  position: absolute;
  left: 0;
  top: -2px;
}
.page-top a.favorite:hover {
  color: #fff;
}

.user-side {
  padding-right: 44px;
  font-size: 14px;
  display: inline-block;
  position: relative;
}
.user-side .sep {
  font-size: 12px;
  color: #999fa5;
  margin: 0 11px;
}
.user-side > a {
  text-decoration: none;
  color: #fff;
}
.user-side > a:hover {
  text-decoration: underline;
}
.user-side .reg {
  margin-right: 10px;
}
.user-side.authin {
  color: #fff;
  margin: 0 9px 0 0;
}
.user-side.authin .welcome {
  font-size: 11px;
  display: inline-block;
  vertical-align: top;
  margin: 2px 6px 0 0;
}
.user-side.authin .name {
  font-size: 14px;
  display: inline-block;
  vertical-align: top;
  position: relative;
  padding-right: 20px;
}
.user-side.authin .name:before {
  display: block;
  content: '';
  position: absolute;
  right: 0;
  top: 4px;
}
.user-side.authin .name .n {
  position: absolute;
  right: 2px;
  top: -12px;
  background: #ff751d;
  border-radius: 100%;
  padding: 0 2px;
  font-size: 11px;
  min-width: 17px;
  text-align: center;
  height: 17px;
  line-height: 17px;
}
.user-side.authin .name .n:before {
  display: block;
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
}
.user-side.authin .user-ui-panel {
  transition: all .2s ease;
  position: absolute;
  right: 16px;
  top: 100%;
  min-width: 168px;
  overflow: hidden;
  text-align: left;
  margin: 30px 0 0 0;
  opacity: 0;
  visibility: hidden;
  backface-visibility: hidden;
}
.user-side.authin .user-ui-panel.open {
  opacity: 1;
  visibility: visible;
  margin-top: 20px;
}
.user-side.authin .user-ui-panel ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background: #40454a;
  border-radius: 5px;
}
.user-side.authin .user-ui-panel ul li {
  margin: 0;
  padding: 0;
}
.user-side.authin .user-ui-panel ul li:first-child a {
  border-top: none;
  border-radius: 5px 5px 0 0;
}
.user-side.authin .user-ui-panel ul li:last-child a {
  border-radius: 0 0 5px 5px;
}
.user-side.authin .user-ui-panel ul a {
  transition: background .2s ease;
  display: block;
  position: relative;
  padding: 10px 17px 10px 17px;
  border-top: 1px solid #50565b;
  color: #fff;
  text-decoration: none;
  font-size: 12px;
  white-space: nowrap;
}
.user-side.authin .user-ui-panel ul a:hover {
  text-decoration: none;
  color: #fff;
  background: #4d5156;
}
.user-side.authin .user-ui-panel ul a .n {
  display: inline-block;
  vertical-align: top;
  background: #ff751d;
  min-width: 17px;
  min-height: 17px;
  text-align: center;
  line-height: 17px;
  margin: -3px 0 0 5px;
  border-radius: 100%;
  font-size: 11px;
}

.header {
  position: relative;
  padding: 31px 0 0 0;
  margin-bottom: 20px;
}
.header .header-top-row {
  margin-bottom: 32px;
}
.header .logo {
  display: inline-block;
  vertical-align: top;
  margin: 0 0 0 21px;
}
.header .phone-block {
  padding: 6px 0 0 5px;
}
.header .phone-block .phone {
  font-size: 24px;
  margin: 0 0 1px;
}
.header .header-basket {
  color: #ff751d;
  display: inline-block;
  vertical-align: top;
  text-align: left;
  position: relative;
  padding: 0 0 0 46px;
  margin: 11px 19px 0 0;
}
.header .header-basket.has-items {
  cursor: pointer;
}
.header .header-basket:before {
  display: block;
  content: '';
  position: absolute;
  left: 0;
  top: 3px;
}
.header .header-basket .t {
  font-size: 18px;
  margin: 0 0 4px;
}
.header .header-basket .label {
  font-weight: bold;
}

.footer {
  height: 190px;
  margin-top: -190px;
  position: relative;
}
.footer .foo-logo {
  padding-left: 20px;
}
.footer .copy {
  padding: 0 0 0 20px;
  line-height: 1.5;
}
.footer .foo-phones {
  padding-left: 30px;
}
.footer .foo-phones .ph {
  padding-top: 13px;
  font-size: 18px;
}
.footer .foo-phones .ph.second {
  margin-left: -20px;
}
.footer .foo-nav {
  padding-top: 7px;
  padding-left: 28px;
  letter-spacing: -.5px;
  margin-bottom: 22px;
}
.footer .foo-nav ul li {
  margin: 0 31px 19px 0;
}
.footer .foo-nav ul li.active a {
  color: #ff751d;
}
.footer .foo-nav a {
  color: #40454a;
  font-size: 12px;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: bold;
}
.footer .foo-nav a:hover {
  color: #ff751d;
  text-decoration: none;
}

.main-nav {
  position: relative;
  z-index: 101;
}
.main-nav .root {
  padding: 14px 14px 11px;
  border-radius: 5px 5px 0 0;
  text-align: justify;
  text-justify: distribute;
}
.main-nav .root:after {
  display: inline-block;
  content: '';
  vertical-align: top;
  width: 100%;
  height: 0;
  line-height: 0;
}
.main-nav .root li {
  font-size: 12px;
  text-transform: uppercase;
  text-align: center;
}
.main-nav .root li a {
  display: inline-block;
  color: #fff;
  font-weight: bold;
  text-decoration: none;
  padding: 11px 15px 10px;
  border-radius: 3px;
  letter-spacing: -.2px;
}
.main-nav .root li:hover a, .main-nav .root li.active a {
  background: #0085d0;
  background: linear-gradient(to bottom, #008bd6, #0085d0);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
}

.main-search-panel {
  position: relative;
  z-index: 100;
}
.main-search-panel .panel {
  background: #005a8f;
  border-radius: 0 0 5px 5px;
  padding: 17px 28px 17px 20px;
  position: relative;
  z-index: 2;
}
.main-search-panel .target-trigger {
  display: inline-block;
  vertical-align: top;
  position: relative;
  margin: 13px 2px 0 0;
  padding: 0 24px 0 0;
  cursor: pointer;
  color: #36a1dd;
}
.main-search-panel .target-trigger:hover {
  color: #fff;
}
.main-search-panel .target-trigger:before {
  display: block;
  content: '';
  position: absolute;
  right: 0;
  top: 2px;
}
.main-search-panel .column {
  float: left;
  width: 50%;
  padding-left: 10px;
}
.main-search-panel .column:first-child {
  padding-left: 0;
}
.main-search-panel .extend-search {
  transition: top .2s ease;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  background: #004e7b;
  margin-top: -10px;
  padding: 24px 28px 17px 20px;
  border-radius: 0 0 5px 5px;
  z-index: 1;
  height: auto !important;
}
.main-search-panel .extend-search.open {
  top: 100%;
}

.search-form {
  height: 36px;
  position: relative;
  padding-right: 99px;
}
.search-form .input-wrapper {
  position: relative;
}
.search-form .input-wrapper:before {
  display: block;
  content: '';
  position: absolute;
  left: 14px;
  top: 10px;
}
.search-form .form-control {
  padding: 12px 20px 10px 39px;
  border: none;
  box-shadow: inset 0 2px 2px rgba(0, 0, 0, 0.2);
}
.search-form .fancy-select .trigger {
  border: none;
}
.search-form .search-action {
  position: absolute;
  right: 0;
  top: 0;
}

.autocmplete-results {
  position: absolute;
  width: 100%;
  background: #fff;
  z-index: 1001;
  left: 0;
  top: 100%;
  margin-top: 5px;
  display: none;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  border-radius: 3px;
}
.autocmplete-results .results-colums {
  overflow: hidden;
}
.autocmplete-results .results-colums .col-left {
  float: left;
  width: 275px;
  border-right: 1px solid #e6e6e6;
  margin-bottom: -1000px;
  padding-bottom: 1000px;
}
.autocmplete-results .results-colums .col-right {
  margin-left: 275px;
  margin-bottom: -1000px;
  padding-bottom: 1000px;
  overflow: hidden;
}
.autocmplete-results .close-row {
  border-top: 1px solid #e6e6e6;
  padding: 10px;
}
.autocmplete-results .result-catalog-list {
  padding: 17px 23px 3px 23px;
}
.autocmplete-results .result-catalog-list .t {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 15px;
}
.autocmplete-results .result-catalog-list .t span {
  font-weight: normal;
  color: #007dc4;
  margin: 0 0 0 5px;
  font-size: 12px;
}
.autocmplete-results .result-catalog-list .result-catalog-items ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.autocmplete-results .result-catalog-list .result-catalog-items a {
  color: #40454a;
  text-decoration: none;
  font-size: 12px;
}
.autocmplete-results .result-catalog-list .result-catalog-items a:hover {
  color: #007dc4;
  text-decoration: none;
}
.autocmplete-results .result-catalog-list .result-catalog-items .root {
  margin: 0 0 0 14px;
}
.autocmplete-results .result-catalog-list .result-catalog-items .root > li {
  font-weight: bold;
  margin-bottom: 15px;
}
.autocmplete-results .result-catalog-list .result-catalog-items .root > li > a {
  font-size: 14px;
}
.autocmplete-results .result-catalog-list .result-catalog-items .dept {
  margin: 9px 0 0 21px;
}
.autocmplete-results .result-catalog-list .result-catalog-items .dept > li {
  margin-top: 10px;
  font-weight: normal;
}
.autocmplete-results .result-catalog-list .result-catalog-items .dept > li:first-child {
  margin-top: 0;
}
.autocmplete-results .custom-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.autocmplete-results .custom-list .item {
  *zoom: 1;
  border-top: 1px solid #e6e6e6;
  padding: 15px 20px 13px 14px;
  cursor: pointer;
}
.autocmplete-results .custom-list .item:after {
  content: "";
  display: table;
  clear: both;
}
.autocmplete-results .custom-list .item:first-child {
  border-top: none;
}
.autocmplete-results .custom-list .item:hover {
  color: #ff751d;
}
.autocmplete-results .custom-list .item-thumb {
  float: left;
  width: 50px;
  text-align: center;
}
.autocmplete-results .custom-list .item-thumb img {
  display: inline-block;
  vertical-align: top;
}
.autocmplete-results .custom-list .item-description {
  width: 215px;
  float: left;
  padding: 0 0 0 17px;
  line-height: 1.45;
  font-size: 12px;
}
.autocmplete-results .custom-list .item-cost {
  text-align: right;
  float: right;
  width: 110px;
}
.autocmplete-results .custom-list .item-cost .costs {
  display: inline-block;
  vertical-align: top;
  text-align: left;
}
.autocmplete-results .custom-list .item-cost .cost-1 {
  color: #007dc4;
  font-weight: bold;
  font-size: 14px;
  margin: -1px 0 7px 0;
}
.autocmplete-results .custom-list .item-cost .cost-2 {
  font-size: 11px;
  color: #8f5b39;
  font-weight: normal;
}
.autocmplete-results .custom-list .item-cost .cost-2 span {
  margin-right: 4px;
}
.autocmplete-results .all-results {
  border-top: 1px solid #e6e6e6;
  padding: 8px 20px;
}

.front-colums .col-left {
  float: left;
  width: 25.03333%;
}
.front-colums .col-right {
  overflow: hidden;
  margin-left: 25.03333%;
  position: relative;
  z-index: 1;
}

.catefories-navigation {
  position: relative;
  z-index: 99;
  background: #fff;
  border-radius: 5px 0 0 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  margin-bottom: 28px;
}
.catefories-navigation .wr {
  position: absolute;
  top: 0;
  left: 100%;
  height: 100%;
  display: none;
  width: 270px;
}
.catefories-navigation ul {
  list-style-type: none;
  position: relative;
  margin: 0;
  padding: 0;
}
.catefories-navigation ul li {
  border-top: 1px solid #e6e6e6;
}
.catefories-navigation ul li:hover > a + .dept, .catefories-navigation ul li:hover > a + .wr > .dept, .catefories-navigation ul li:hover > a + .wr {
  display: block;
}
.catefories-navigation ul li:first-child {
  border-top: none;
}
.catefories-navigation ul.root-list > li {
  position: static;
}
.catefories-navigation ul.root-list > li > a {
  font-size: 18px;
  padding: 18px 30px 18px 62px;
}
.catefories-navigation ul.root-list > li > a:before {
  display: block;
  content: '';
  position: absolute;
  right: 15px;
  top: 50%;
  margin-top: -7px;
}
.catefories-navigation ul.root-list > li.has-not-deps > a:before {
  display: none;
}
.catefories-navigation ul.dept {
  position: absolute;
  left: 100%;
  top: 0;
  width: 270px;
  background: #fff;
  border-left: 1px solid #e6e6e6;
  display: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}
@media (max-width: 1200px) {
  .catefories-navigation ul.dept {
    width: 255px;
  }
}
@media (max-width: 1060px) {
  .catefories-navigation ul.dept {
    width: 244.5px;
  }
}
.catefories-navigation ul.dept > li {
  position: relative;
}
.catefories-navigation ul.dept > li.has-not-deps > a:before {
  display: none;
}
.catefories-navigation ul.dept a {
  padding: 8px 22px 8px 22px;
}
.catefories-navigation ul.dept a:before {
  display: block;
  content: '';
  position: absolute;
  right: 8px;
  top: 50%;
  margin-top: -5.5px;
}
.catefories-navigation ul.dept.dept-1 {
  left: 0;
}
.catefories-navigation ul.dept.dept-3 a:before {
  display: none;
}
.catefories-navigation ul a {
  display: block;
  position: relative;
  text-decoration: none;
  color: #40454a;
  font-weight: bold;
  font-size: 14px;
}
.catefories-navigation ul a .icon {
  display: block;
  position: absolute;
  width: 40px;
  height: 30px;
  left: 20px;
  top: 50%;
  margin-top: -16px;
  text-align: center;
  line-height: 30px;
}
.catefories-navigation ul a .icon img {
  display: inline-block;
  vertical-align: middle;
  max-width: 100%;
}

.front-carousel {
  z-index: 1;
  overflow: hidden;
  border-radius: 0 5px 5px 0;
  margin-bottom: 28px;
}
.front-carousel .owl-nav {
  right: 14px;
  bottom: 13px;
}
.front-carousel .owl-nav .owl-prev, .front-carousel .owl-nav .owl-next {
  background: #5f6467;
}
.front-carousel .owl-nav .owl-prev:hover, .front-carousel .owl-nav .owl-next:hover {
  background: #767a7f;
}
.front-carousel .owl-nav .owl-prev:before {
  margin-top: -4.5px;
  margin-left: -3px;
}
.front-carousel .owl-nav .owl-prev.disabled:hover {
  background: #5f6467;
}
.front-carousel .owl-nav .owl-next:before {
  margin-top: -4.5px;
  margin-left: -3px;
}
.front-carousel .owl-nav .owl-next.disabled:hover {
  background: #5f6467;
}
.front-carousel .item {
  position: relative;
}
.front-carousel .caption {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  padding: 42px 40px 40px 39px;
}
.front-carousel .caption .caption-title {
  font-weight: 300;
  color: #f9fdfe;
  font-size: 18px;
  margin-bottom: 14px;
}
.front-carousel .caption .caption-cost {
  font-weight: 300;
  color: #ff751d;
  font-size: 36px;
  margin-left: -2px;
}
.front-carousel .caption .caption-big-title {
  font-weight: 300;
  font-size: 48px;
  color: #fff;
  margin: 65px 0 34px 2px;
  line-height: 1.25;
}
.front-carousel .caption .caption-btn {
  margin: 0 0 0 6px;
}

.blocks-items-list .item {
  position: relative;
  border-radius: 5px;
  overflow: hidden;
  padding: 10px;
}
.blocks-items-list .item .overlay {
  transition: opacity .15s ease;
  opacity: 0;
  visibility: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  text-align: center;
  background: rgba(0, 0, 0, 0.1);
}
.blocks-items-list .item .overlay .item-link {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.blocks-items-list .item .overlay .btn-basket {
  height: 36px;
  width: 120px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -11px;
  margin-left: -60px;
  z-index: 2;
}
.blocks-items-list .item:hover .overlay {
  opacity: 1;
  visibility: visible;
}
.blocks-items-list .item .thumbnail {
  text-align: center;
  height: 120px;
  line-height: 120px;
  margin: 2px 0 6px;
}
.blocks-items-list .item .thumbnail img {
  display: inline-block;
  vertical-align: middle;
}
.blocks-items-list .item .item-title {
  line-height: 1.5;
  height: 55px;
  overflow: hidden;
  margin-bottom: 10px;
}
.blocks-items-list .item .item-cost-1 {
  color: #0073b4;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 4px;
}
.blocks-items-list .item .item-cost-2 {
  color: #8f5b39;
  font-size: 11px;
}
.blocks-items-list .item .item-cost-2 span {
  margin: 0 8px 0 0;
}

.items-carousel .item {
  margin: 0 6px;
  padding: 10px;
}

.module-basket-items .item {
  *zoom: 1;
  border-bottom: 1px solid #e6e6e6;
  padding: 10px 35px 8px 29px;
}
.module-basket-items .item:after {
  content: "";
  display: table;
  clear: both;
}
.module-basket-items .thumb {
  width: 50px;
  margin: 10px 17px 0 0;
  text-align: center;
}
.module-basket-items .thumb img {
  display: inline-block;
  vertical-align: top;
}
.module-basket-items .item-title {
  width: 206px;
  line-height: 1.5;
  margin-right: 55px;
}
.module-basket-items .item-title a {
  text-decoration: none;
  color: #40454a;
}
.module-basket-items .item-title a:hover {
  text-decoration: none;
  color: #ff751d;
}
.module-basket-items .items-increment {
  width: 120px;
  min-height: 1px;
  padding: 14px 0 0 9px;
}
.module-basket-items .cost {
  text-align: right;
  width: 139px;
  padding-left: 20px;
  color: #0073b4;
  font-size: 14px;
  font-weight: bold;
  padding: 19px 0 0 15px;
}
.module-basket-items .cost-items-row {
  background: #f0f0f0;
  font-size: 18px;
  padding: 16px 40px 16px 40px;
}
.module-basket-items .cost-items-row .t {
  display: inline-block;
  vertical-align: top;
}
.module-basket-items .cost-items-row .n {
  display: inline-block;
  vertical-align: top;
  color: #007dc4;
  font-weight: bold;
  margin-left: 46px;
}

.module-delivery .inner {
  background: #0073b4;
  padding: 19px 39px 20px 38px;
}
.module-delivery .module-title {
  color: #fff;
  font-size: 24px;
  margin: 0 0 21px;
}
.module-delivery .form-group {
  margin: 0 0 8px;
}
.module-delivery .form-group label {
  color: #fff;
  display: block;
  margin: 9px 0 0 1px;
}
.module-delivery .form-group .fancy-select {
  margin: 0 0 0 13px;
}
.module-delivery .form-group .fancy-select .trigger {
  padding: 9px 40px 9px 11px;
}
.module-delivery .cost-items-row {
  background: #006198;
  padding: 16px 50px 15px 16px;
  color: #fff;
  font-size: 18px;
}
.module-delivery .cost-items-row .t {
  display: inline-block;
  vertical-align: top;
}
.module-delivery .cost-items-row .n {
  font-weight: bold;
  display: inline-block;
  vertical-align: top;
  min-width: 100px;
  margin-left: 31px;
}

.modal-basket-list .result-cost {
  padding: 14px 39px 14px 20px;
}
.modal-basket-list .result-cost .btn {
  padding: 11px 26px 12px;
}
.modal-basket-list .result-cost .n {
  font-weight: bold;
  display: inline-block;
  vertical-align: top;
  font-size: 18px;
  margin: 7px 18px 0 14px;
}
.modal-basket-list .result-cost .t {
  font-size: 18px;
}

.product-card .breadcrumbs {
  padding: 12px 2px 12px 2px;
}
.product-card .module-body {
  padding: 22px 25px 43px 36px;
}
.product-card .product-data {
  padding: 0 0 0 23px;
}
.product-card .product-data .product-title {
  font-size: 24px;
  margin-bottom: 37px;
}
.product-card .product-data .product-title h1 {
  margin: 0;
}
.product-card .product-data .data-cols {
  position: relative;
  margin: 0 88px 0 3px;
}
.product-card .product-data .data-cols:before {
  display: block;
  content: '';
  width: 1px;
  height: 100%;
  position: absolute;
  background: #e6e6e6;
  top: 0;
  left: 50%;
  margin-left: -3px;
}
.product-card .product-data .data-cols .cost-1 {
  font-weight: bold;
  color: #007dc4;
  font-size: 24px;
  margin: 4px 0 12px 0;
}
.product-card .product-data .data-cols .cost-2 {
  color: #905a36;
  font-size: 12px;
  margin-bottom: 25px;
}
.product-card .product-data .data-cols .cost-2 span {
  margin: 0 15px 0 1px;
}
.product-card .product-data .data-cols .btns {
  margin: 0 0 0 9px;
}
.product-card .product-data .data-cols .rules-delivery {
  cursor: pointer;
  margin-top: 15px;
  text-decoration: underline;
  display: inline-block;
  vertical-align: top;
}
.product-card .product-data .data-cols .rules-delivery:hover {
  color: #ff751d;
}
.product-card + .module {
  margin-top: 10px;
}

.product-description {
  margin-top: 10px;
}
.product-description .module-body {
  padding: 18px 31px 28px 31px;
}
.product-description + .module {
  margin-top: 10px;
}

.module-catalog-list {
  margin-bottom: 6px;
}
.module-catalog-list .module-top-row {
  padding: 21px 25px 17px 27px;
  margin: 0;
}
.module-catalog-list .breadcrumbs {
  padding: 12px 0 0 0;
}
.module-catalog-list .catalog-title a {
  text-decoration: none;
  color: #838a90;
  display: inline-block;
  vertical-align: top;
}
.module-catalog-list .catalog-title span {
  display: inline-block;
  vertical-align: top;
}
.module-catalog-list .catalog-title span.sep {
  margin: 2px 19px 0;
}
.module-catalog-list .catalog-title span.last {
  color: #40454a;
}

.pagination-type-1 {
  background: #f7f9f9;
  padding: 10px 27px 10px 27px;
}
.pagination-type-1 .t {
  display: inline-block;
  vertical-align: top;
  color: #40454a;
  margin: 6px 11px 0 0;
}
.pagination-type-1 .btns {
  display: inline-block;
  vertical-align: top;
}
.pagination-type-1 .btns .btn {
  margin: 0 10px 0 0;
}

.pagination-type-2 {
  padding: 11px 25px 13px 25px;
  font-size: 0;
}
.pagination-type-2 .dotts {
  display: inline-block;
  vertical-align: top;
  margin: 9px 0 0 -5px;
  font-size: 12px;
  background: #fff;
}
.pagination-type-2 .pag-link {
  display: inline-block;
  vertical-align: top;
  text-decoration: none;
  color: #40454a;
  border-radius: 3px;
  padding: 4px 5px;
  margin: 5px 0 0 2px;
  font-size: 12px;
  position: relative;
  z-index: 2;
}
.pagination-type-2 .pag-link:hover, .pagination-type-2 .pag-link.active {
  background: #e4ebee;
}
.pagination-type-2 .btn-next, .pagination-type-2 .btn-prev {
  width: 39px;
  height: 26px;
  padding: 0;
  position: relative;
  margin-top: 3px;
}
.pagination-type-2 .btn-next {
  margin-left: 16px;
}
.pagination-type-2 .btn-next:before {
  display: block;
  content: '';
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -3.5px;
  margin-top: -5.5px;
}
.pagination-type-2 .btn-prev {
  margin-right: 16px;
}
.pagination-type-2 .btn-prev:before {
  display: block;
  content: '';
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -3.5px;
  margin-top: -5.5px;
}

.catalog-list .item {
  *zoom: 1;
  padding: 9.9px 24px 5.3px 28px;
  border-bottom: 1px solid #e6e6e6;
}
.catalog-list .item:after {
  content: "";
  display: table;
  clear: both;
}
.catalog-list .thumb {
  width: 50px;
  text-align: center;
  margin: 10px 16px 10px 0;
}
.catalog-list .thumb img {
  display: inline-block;
  vertical-align: top;
}
.catalog-list .item-title {
  width: 200px;
  line-height: 1.55;
  margin: 0 26px 0 0;
}
.catalog-list .item-title a {
  color: #40454a;
  text-decoration: none;
}
.catalog-list .item-title a:hover {
  color: #ff751d;
  text-decoration: none;
}
.catalog-list .items-have {
  width: 138px;
  padding-top: 20px;
  margin-right: 20px;
}
.catalog-list .cost {
  width: 100px;
  margin: 0 7px 0 0;
}
.catalog-list .cost .cost-1 {
  font-weight: bold;
  color: #007dc4;
  font-size: 14px;
  margin: 7px 0 9px 0;
}
.catalog-list .cost .cost-2 {
  color: #8f5b39;
  font-size: 11px;
}
.catalog-list .btn-cell {
  width: 120px;
  padding: 8px 0 0 0;
}

.search-result-count-row {
  padding: 11px 0 7px 28px;
  border-bottom: 1px solid #e6e6e6;
}
.search-result-count-row + .catalog-group .catalog-category-title {
  border-top: none;
}

.catalog-group .catalog-category-title {
  border-top: 1px solid #e6e6e6;
}
.catalog-group .list-footer {
  padding: 15px 25px 14px 25px;
}

.catalog-category-title {
  background: #f7f9f9;
  font-size: 18px;
  padding: 14px 27px 10px;
}

.module-catalog-category .module-top-row {
  padding: 17px 27px 13px;
  margin: 0;
}
.module-catalog-category .module-top-row .module-title h1 {
  font-size: 36px;
  margin: 0;
}
.module-catalog-category .module-top-row .breadcrumbs {
  margin: 26px 0 0 0;
}
.module-catalog-category .category-nav {
  padding: 27px 33px 17px 28px;
}
.module-catalog-category .category-nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.module-catalog-category .category-nav ul li {
  font-weight: bold;
  margin: 0 0 16px;
}
.module-catalog-category .category-nav ul a {
  color: #40454a;
  text-decoration: none;
  font-size: 14px;
}
.module-catalog-category .category-nav ul a:hover {
  text-decoration: none;
  color: #007dc4;
}
.module-catalog-category .category-nav ul a span {
  font-weight: normal;
  color: #007dc4;
  font-size: 12px;
  margin: 0 0 0 3px;
}
.module-catalog-category + .module {
  margin-top: 11px;
}

.module-grid-items .module-body {
  padding: 10px 19px 11px;
}
.module-grid-items .module-body .item {
  margin-bottom: 4px;
}
.module-grid-items .more-btn-row {
  padding: 5px 0 15px;
}
.module-grid-items + .module {
  margin-top: 10px;
}

.module-result-nav {
  padding: 23px 24px 31px;
  margin: 0 0 15px;
}
.module-result-nav .module-title {
  font-size: 18px;
  font-weight: bold;
  margin: 0 0 17px;
}
.module-result-nav .module-title span {
  font-weight: normal;
  color: #007dc4;
  font-size: 12px;
  margin: 0 0 0 3px;
}
.module-result-nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.module-result-nav ul a {
  text-decoration: none;
  color: #40454a;
}
.module-result-nav ul a:hover {
  color: #007dc4;
  text-decoration: none;
}
.module-result-nav ul li span {
  font-weight: normal;
  color: #007dc4;
  font-size: 12px;
  margin: 0 0 0 3px;
}
.module-result-nav .root {
  padding-left: 2px;
}
.module-result-nav .root > li {
  margin-top: 13px;
}
.module-result-nav .root > li:first-child {
  margin-top: 0;
}
.module-result-nav .root > li > a {
  font-weight: bold;
  font-size: 14px;
}
.module-result-nav .root .dept-1 {
  padding: 13px 0 0 15px;
}
.module-result-nav .root .dept-1 > li {
  margin-top: 14px;
}
.module-result-nav .root .dept-1 > li:first-child {
  margin-top: 0;
}
.module-result-nav .root .dept-2 {
  padding: 14px 0 0 24px;
}
.module-result-nav .root .dept-2 > li {
  margin-top: 8px;
}
.module-result-nav .root .dept-2 > li:first-child {
  margin-top: 0;
}
.module-result-nav .root .dept-3 {
  padding: 14px 0 0 27px;
}
.module-result-nav .root .dept-3 > li {
  margin-top: 8px;
}
.module-result-nav .root .dept-3 > li:first-child {
  margin-top: 0;
}

/*# sourceMappingURL=style.css.map */
