extend layouts/layout

block content
    - var auth = true
    - var basketEmpty = false
    - var page = 'catalog-category'
    - var nCol1 = ['Аккумуляторы','Бамперы','Бижутерия','Чехлы для планшетов','Чехлы и сумочки','Чехлы-книжки','Гарнитуры Bluetooth','Гарнитуры проводные']
    - var nCol2 = ['Кабели','Карты памяти','Кейсы','Кейсы-аккумуляторы', 'Расходные материалы','Сетевые ЗУ','Штативы для селфи', 'Силиконовые кейсы']
    - var nCol3 = ['Стилусы', 'Сумки для фотоаппаратов', 'Сумки', 'Внешние аккумуляторы', 'Защитная пленка', 'Защитные стекла']
    include partials/header
    .container
        .row
            .col-md-3.sidebar
                include partials/categories-nav
                include partials/side-baners
            .col-md-9.content
                .module.module-catalog-category
                    .module-top-row
                        .row
                            .col-md-8
                                .module-title
                                    h1 Аксессуары
                            .col-md-4
                                .breadcrumbs.text-right
                                    a(href="http://", target="_blank") Главная
                                    span.sep >
                                    span.last Аксессуары
                    .category-nav
                        .row
                            .col-md-4
                                ul.list
                                    each value in nCol1
                                        li
                                            a(href="#")= value
                                                span (256)
                            .col-md-4
                                ul.list
                                    each value in nCol2
                                        li
                                            a(href="#")= value
                                                span (256)
                            .col-md-4
                                ul.list
                                    each value in nCol3
                                        li
                                            a(href="#")= value
                                                span (256)
                .module.module-grid-items
                    .module-top-row
                        .module-title Рекомендуем аксессуары
                    .module-body.blocks-items-list
                        - for (var x = 0; x < 3; x++)
                            .row
                                - for (var i = 0; i < 4; i++)
                                    .col-md-3
                                        .item
                                            .thumbnail
                                                img(src="assets/product-#{i+1}.jpg", alt="", class="img-responsive")
                                            .item-title HTC Desire 620 DS MatGrey-Orange/ Серо-оранжевый
                                            .item-cost-1 3 800 руб.
                                            .item-cost-2 
                                                span VIP
                                                | 2 700 руб.
                                            .overlay
                                                a.item-link(href="product-card.html")
                                                a.btn.btn-primary.btn-icon.btn-basket В корзину
                    .more-btn-row.text-center
                        a.btn.btn-default.btn-arr.btn-arr-bottom-right(href="") Смотреть еще
                .module.module-text-entries
                    .module-body
                        .h1 Рекомендуем аксессуары
                        p В нашем интернет-магазине представлен широкий выбор аксессуаров и запчастей для сотовых телефонов: корпусы, клавиатуры, дисплеи и сенсоры, стекла, динамики, микрофоны, шлейфы, антенны, стилусы, проводные и Bluetooth гарнитуры, аккумуляторы, автомобильные и сетевые зарядные устройства, стильные сумочки, оригинальные брелочки, защитные пленки и многое другое.
                        p Кроме того, здесь вы можете приобрести сами аппараты Nokia, Samsung, LG, Sony, Huawei, Alcatel, Fly, Philips по доступным ценам.
                        p Для того чтобы сделать заказ, достаточно просто оформить заявку, не покидая удобного кресла. Если интересующего вас товара вдруг не оказалось в наличии, мы приложим все усилия, чтобы найти и в кратчайшие сроки доставить его вам.
                        p Компания Sotland.ru уже несколько лет успешно работает с розничными и оптовыми покупателями во всех регионах России.Расстояние – не помеха, когда речь идет о наших клиентах!
                        .warging 
                         p Вся представленная информация о ценах, наличии, потребительских свойствах товара и прочая информация носит информационный характер и ни при каких условиях не является публичной офертой, определяемой положениями Статьи 437.


