extend layouts/layout

block content
    - var auth = false
    - var basketEmpty = true
    - var page = 'index'
    include partials/header
    .front-colums
        .container
            .row
                .col-md-12
                    .col-left
                        include partials/categories-nav
                    .col-right
                        include partials/front-carousel
    .container
        .row
            .col-md-3.sidebar
                include partials/side-baners
            .col-md-9.content
                .module
                    .module-top-row
                        .module-title Новинки
                    .module-body
                        include partials/product-carousel
                .module
                    .module-top-row
                        .module-title Популярные товары
                    .module-body
                        include partials/product-carousel