extend layouts/layout

block content
    - var auth = true
    - var basketEmpty = false
    - var page = 'cardPage'
    include partials/header
    .container
        .row
            .col-md-3.sidebar
                include partials/categories-nav
                include partials/side-baners
            .col-md-9.content
                article.module.product-card
                    .module-top-row
                        .breadcrumbs.text-right
                            a(href="http://", target="_blank") Главная
                            span.sep >
                            a(href="http://", target="_blank") Комп. мелочи 
                            span.sep >
                            span.last Мышь оптическая
                    .module-body
                        .row
                            .col-md-5
                                .product-photo
                                    img(src="images/no-photo-268x224.jpg", alt="", class="img-responsive")
                            .col-md-7
                                .product-data
                                    .product-title
                                        h1 Мышь оптическая Smart Buy SBM-320-AZ African Zoo
                                    .data-cols
                                        .row
                                            .col-md-6
                                                .cost-1 599 руб.
                                                .cost-2 
                                                    span VIP 1
                                                    | 410 руб.
                                                .has В наличии < 5 шт.
                                            .col-md-6
                                                .btns
                                                    a(href="").btn.btn-primary.btn-icon.btn-basket.btn-block В корзину
                                                    button.btn.btn-secondary.btn-small.btn-block(data-toggle="modal", data-target="#quickBuyModal") Купить в 1 клик
                                                    span.rules-delivery(data-toggle="modal", data-target="#deliveryVariantsModal") Условия доставки
                article.module.product-description
                    .module-top-row
                        .module-title Характеристики
                    .module-body
                        p Trust Primo Wireless Mouse – это стильный и удобный беспроводной девайс с возможностью работы на операционных системах Mac OS X 10.5 (Leopard) или более поздние версии, а также Chrome OS. 
                        p Компьютерная мышь будет удобна в работе независимо от того, какая рука у вас преобладает, правая или левая. Usb микро приемник даст возможность использовать мышь до 6 метров от компьютера. 
                        br
                        h2 Подходит для:
                        p &nbsp; Acer S100 Liquid E / S100 Liquid E Ferrari / S200 neoTouch

                .module
                    .module-top-row
                        .module-title Рекомендованные товары
                    .module-body
                        include partials/product-carousel