extend layouts/layout

block content
    - var auth = true
    - var basketEmpty = false
    - var page = 'search'
    include partials/header
    .container
        .row
            .col-md-3.sidebar
                include partials/result-nav
                include partials/categories-nav
                include partials/side-baners
            .col-md-9.content
                .module.module-catalog-list
                    .module-top-row
                        .row
                            .col-md-8
                                .module-title Вы искали “телефон”
                            .col-md-4
                                .breadcrumbs.text-right
                                    a(href="http://", target="_blank") Главная
                                    span.sep >
                                    span.last Поиск
                    .search-result-count-row Найдено 241
                    - for (var c = 0; c < 4; c++)
                        .catalog-group
                            .catalog-category-title Дисплеи и тачскрины
                            .catalog-list
                                - for (var r = 0; r < 4; r++)
                                    .item
                                        .thumb.pull-left
                                            a(href="")
                                                img(src="assets/small-item-#{r}.jpg", alt="", class="img-responsive")
                                        .item-title.pull-left 
                                            a(href="") SAMSUNG I9300 Galaxy S III шлейф на кнопки громкости в сборе с разговорным динамиком
                                        .items-have.pull-left 
                                            .has В наличии < 5 шт.
                                        .cost.pull-left 
                                            .cost-1 8 770 руб.
                                            .cost-2 
                                                span VIP
                                                | 7 500 руб.
                                        .btn-cell.pull-left
                                            a(href="").btn.btn-primary.btn-icon.btn-basket.btn-block В корзину
                            .list-footer.text-right
                                a.btn.btn-secondary.btn-small(href="#") Смотреть все
