.user-side.dropdown.authin
    span.welcome Добро пожаловать,
    span.name(data-toggle="dropdown", data-target="#user-ui-panel") Сергей Миронов
        span.n 2
    .user-ui-panel#user-ui-panel
        ul
            li
                a(href="") Администрирование
            li
                a(href="") История заказов
            li
                a(href="") Уведомления 
                    span.n 2
            li
                a(href="") Выйти из сеанса