#basketModal.modal.modal-basket-list
    .modal-dialog
        .modal-content
            .modal-header
                span.modal-close(data-dismiss="modal")
                .modal-title Корзина
            form(id="", method="", action="")
                .module-basket-items
                    .items
                        .item
                            .thumb.pull-left
                                a(href="")
                                    img(src="assets/basket-item.jpg", alt="", class="img-responsive")
                            .item-title.pull-left 
                                a(href="") SAMSUNG I9300 Galaxy S III шлейф на кнопки громкости в сборе с разговорным динамиком
                            .items-increment.pull-left
                                include spinner
                            .cost.pull-left 8 770 руб.
                        .item
                            .thumb.pull-left
                                a(href="")
                                    img(src="assets/basket-item.jpg", alt="", class="img-responsive")
                            .item-title.pull-left 
                                 a(href="") SAMSUNG I9300 Galaxy S III шлейф на кнопки громкости в сборе с разговорным динамиком
                            .items-increment.pull-left
                                include spinner
                            .cost.pull-left 8 770 руб.
                        .item
                            .thumb.pull-left
                                a(href="")
                                    img(src="assets/basket-item.jpg", alt="", class="img-responsive")
                            .item-title.pull-left 
                                 a(href="") SAMSUNG I9300 Galaxy S III шлейф на кнопки громкости в сборе с разговорным динамиком
                            .items-increment.pull-left
                                include spinner
                            .cost.pull-left 8 770 руб.
                        .item
                            .thumb.pull-left
                                a(href="")
                                    img(src="assets/basket-item.jpg", alt="", class="img-responsive")
                            .item-title.pull-left 
                                 a(href="") SAMSUNG I9300 Galaxy S III шлейф на кнопки громкости в сборе с разговорным динамиком
                            .items-increment.pull-left
                                include spinner
                            .cost.pull-left 8 770 руб.
                    .cost-items-row.text-right
                        span.t Сумма:
                        span.n 26 800 руб.
                .module-delivery.form-elements
                        .inner
                            .module-title Доставка
                            .items
                                .item.form-group
                                    .row
                                        .col-md-2
                                            label Регион
                                        .col-md-10
                                            select(name="")
                                                option(value="1") Алтайский край
                                                option(value="2") Краснодарский край
                                .item.form-group
                                    .row
                                        .col-md-2
                                            label Город
                                        .col-md-10
                                            select(name="")
                                                option(value="1") Краснодар
                                                option(value="2") Воркута
                                                option(value="3") Москва
                                .item.form-group
                                    .row
                                        .col-md-2
                                            label Доставка
                                        .col-md-10
                                            select(name="")
                                                option(value="1") Почта России
                                                option(value="2") Почта не России
                                .item.form-group
                                    .row
                                        .col-md-2
                                            label Оплата
                                        .col-md-10
                                            select(name="")
                                                option(value="1") Наложенный платеж
                                                option(value="2") Не наложенный платеж
                        .cost-items-row.text-right
                            span.t Цена доставки:
                            span.n 8 800 руб. 
                .result-cost.text-right
                    span.t Итого:
                    span.n 35 600 руб.
                    button.btn.btn-secondary(type="submit") Оформить

