- var rootCategories = ['Аксессуары','Запчасти','Смартфоны','Телефоны','Планшеты','Комп. мелочи','Автоаксессуары','Светотехника']
- var subCategoriesDept1 = ['Alcatel','Explay','Fly','HTC']
- var subCategoriesDept2 = ['HTC','Huawei','Keneksi','Lenovo']
- var subCategoriesDept3 = ['LG','Nokia','Philips','Samsung','Sony','Qumo','BQ','Lenovo']
.catefories-navigation
    ul.root-list
        - for (var i = 0; i < rootCategories.length; i++)
            if i == 3 
                - var dep = 'has-not-deps'
            else
                - var dep = ''
            if i == 5 
                - var dep2 = 'has-not-deps'
            else
                - var dep2 = ''
            if page == 'catalog-category' && rootCategories[i] == "Аксессуары"
                li.active
                    a(href="catalog-category.html")
                        span.icon
                            img(src="images/#{i+1}.png", alt="")
                        span= rootCategories[i]
                    .wr
                        ul.dept.dept-1
                            each dept1 in subCategoriesDept1
                              li
                                a(href="")= dept1
                                ul.dept.dept-2
                                    each dept2 in subCategoriesDept2
                                      li
                                        a(href="")= dept2
                                        ul.dept.dept-3
                                            each dept3 in subCategoriesDept3
                                              li
                                                a(href="")= dept3
            else
                li(class="#{dep}")
                    a(href="catalog-category.html")
                        span.icon
                            img(src="images/#{i+1}.png", alt="")
                        span= rootCategories[i]
                    if i !== 3
                        .wr
                            ul.dept.dept-1
                                each dept1 in subCategoriesDept1
                                  li(class="#{dep2}")
                                    a(href="")= dept1
                                    if i != 5
                                        ul.dept.dept-2
                                            each dept2 in subCategoriesDept2
                                              li
                                                a(href="")= dept2
                                                ul.dept.dept-3
                                                    each dept3 in subCategoriesDept3
                                                      li
                                                        a(href="")= dept3