#deliveryVariantsModal.modal.text-modal
    .modal-dialog
        .modal-content
            span.modal-close(data-dismiss="modal")
            .modal-body
                .h1 Способы доставки по России (кроме г. Томска)
                p Доставка осуществляется бандеролью 1-го класса посредством Почты России. Срок доставки в среднем — 8 -12 дней.
                p.italic Стоимость доставки: 249 рублей.
                p Бандероль первого класса - это стандартная упаковка (38см*25см*15см), товар заворачивается в воздушно-пузырчатую пленку.
                p 
                    | Особо хрупкие запчасти помимо пленки упаковываются дополнительно в коробочки. 
                    br 
                    | Если Ваш заказ превышает по размерам стандартную упаковку (38см*25см* 15см), доставка данного заказа будет осуществлена посылкой с объявленной ценностью посредством Почты России. Размер упаковки будет подбираться индивидуально.
                p Расчет стоимости данного заказа будет зависеть от веса, размера упаковки и объявленной стоимости. Точную сумму Вам сообщит  менеджер.
                p 
                    | Наложенный платёж доступен клиентам, начиная со второго заказа.
                    br
                    | Чтобы выслать Заказы на сумму более 2000 руб. наложенным платежом, Вам необходимо внести 100%-ную предоплату.
                hr
                .h1 Доставка ЕMS
                p 
                    | По России возможна экспресс-доставка с курьером «EMS Russian Рost». Подробности по тарифам смотрите 
                    a(href="") здесь
                hr
                .h1 Доставка транспортной компанией
                p 
                    | По России возможна доставка компаниями 'Энергия', 'Деловые линии', 'ЖелДорЭкспедиция'. Получить отправление вы сможете на складе транспортной компании. Уточнить адрес склада в вашем городе можно на сайте курьерской компании. Подробности по тарифам: 
                    a(href="") 'Энергия', 'Деловые линии', 'ЖелДорЭкспедиция'
                hr
                .h1 Доставка заказа по г. Томску и по г. Северску
                p По г. Томску доставка осуществляется курьером на следующий день после заказа.
                p.italic Стоимость доставки: 149 руб.
                p Доставка по г. Северску осуществляется курьером на следующий день после заказа.
                p.italic Стоимость доставки: 199 руб.
