- var fooNav = ['Каталог', 'Оплата', 'Доставка', 'Гарантия', 'Возврат товара', 'Как сделать заказ', 'Оптовые цены', 'Полезные статьи', 'Контакты']
footer.footer
    .container
        .row
            .col-md-3.sidebar
                .foo-logo
                    img(src="images/logo.png", alt="", class="img-responsive")
            .col-md-9.content
                nav.foo-nav
                    ul
                        - for (var x = 0; x < fooNav.length; x++)
                            if ((page == 'catalog' || page == 'catalog-category') && fooNav[x] == 'Каталог')
                                li.active
                                    a(href="#")= fooNav[x]
                            else
                                li
                                    a(href="#")= fooNav[x]

        .row
            .col-md-3.sidebar
                .copy
                    |  © 2007-2015, Sotland.ru
                    br
                    | Все права защищены.
            .col-md-9.content
                .foo-phones
                    .row
                        .col-md-3
                            .ph 8 800 333 32 43
                        .col-md-3
                            .ph.second +7 3822 789 079
                        .col-md-6.text-right
                            img(src="assets/counter.jpg", alt="", style="margin: 2px 13px 0 0")
if basketEmpty == false
    include basket-modal

if page == "cardPage"
    include quick-buy-modal
    include delivery-variants-modal