.front-carousel.carousel(data-options='{"items": 1}')
    - var i = 0 
    while i < 3
        div(class="item item-#{i++}")
            img(src="assets/slider-baner.jpg", alt="", class="img-responsive")
            .caption
                .caption-title HTC Desire 620 DS MatGrey-Orange
                .caption-cost 16 990 Р
                .caption-big-title
                    | Достоин
                    br 
                    | восхищения
                .caption-btn
                    a.btn.btn-secondary.btn-arr.btn-arr-right(href="#") Подробнее