head
	meta(charset='utf-8')
	meta(http-equiv='X-UA-Compatible', content='IE=edge')
	title Sotland
	meta(name='description', content='')
	meta(name='viewport', content='width=device-width')
	// style
	link(rel="stylesheet", href="css/style.css")
	// fonts	
	link(rel="stylesheet", type='text/css', href="http://fonts.googleapis.com/css?family=Roboto:500,900italic,900,400italic,100,700italic,300,700,500italic,100italic,300italic,400&subset=latin,cyrillic,cyrillic-ext")
	//HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries
	<!--[if lt IE 9]>
	script(src="http://html5shiv-printshiv.googlecode.com/svn/trunk/html5shiv-printshiv.js")
	<![endif]-->
	// Test data for autocomplete
	script.
		var searchDummiesData = [
			{
				label: 'SAMSUNG',
				description: "SAMSUNG I9300 Galaxy S III шлейф на кнопки громкости в сборе",
				image: 'assets/small-item-0.jpg',
				costFirst: '8 770 руб.', 
				costSecond: '7 500 руб.' 
			},
			{
				label: 'Explay',
				description: "Explay I9300 Galaxy S XI шлейф на кнопки громкости в сборе",
				image: 'assets/small-item-1.jpg',
				costFirst: '8 770 руб.', 
				costSecond: '7 500 руб.' 				
			},
			{
				label: 'SAMSUNG',
				description: "Explay I9300 Galaxy S XI шлейф на кнопки громкости в сборе",
				image: 'assets/small-item-2.jpg',
				costFirst: '8 770 руб.', 
				costSecond: '7 500 руб.' 				
			},
			{
				label: 'SAMSUNG',
				description: "SAMSUNG I9300 Galaxy S III шлейф на кнопки громкости в сборе",
				image: 'assets/small-item-3.jpg',
				costFirst: '8 770 руб.', 
				costSecond: '7 500 руб.' 
			}
		];
