.page-top
    .container
        .row
            .col-md-4
                nav.top-nav
                    ul
                        li
                            a(href="") О компании
                        li
                            a(href="") Мы в контакте
                        li
                            a(href="") Как нас найти?
            .col-md-3.text-right
                a.favorite(href="") Избранное
            .col-md-5.text-right
                if auth == false
                    include non-auth-user-side
                if auth == true
                    include auth-user-side
header.header
    .container
        .header-top-row
            .row
                .col-md-3
                    a.logo(href="index.html")
                        img(src="images/logo.png", class="img-responsive" alt="")
                .col-md-5
                    .row
                        .col-md-6
                            .phone-block
                                .phone 8 800 333 32 43
                                .label По России бесплатно
                        .col-md-6
                            .phone-block
                                .phone +7 3822 789 079
                                .label По Москве и области
                .col-md-4.text-right
                    if basketEmpty == true
                        .header-basket.empty
                            .t В Вашей корзине
                            .label 0 товаров
                    else
                        .header-basket.has-items(data-toggle="modal", data-target="#basketModal")
                            .t В Вашей корзине
                            .label 12 товаров, 8 750 Р
        include main-nav-panel
        include search-panel