- var navItems = ['Каталог', 'Оплата', 'Доставка', 'Гарантия', 'Возврат товара', 'Как сделать заказ', 'Оптовые цены', 'Контакты']
nav.main-nav
    ul.root
        - for (var x = 0; x < navItems.length; x++)
            if ( (page == 'catalog' || page == 'catalog-category')  && navItems[x] == 'Каталог' )
                li.active
                    if navItems[x] == 'Каталог'
                        a(href="catalog.html")= navItems[x]
                    else
                        a(href="#")= navItems[x]
            else
                li
                    if navItems[x] == 'Каталог'
                        a(href="catalog.html")= navItems[x]
                    else
                        a(href="#")= navItems[x]