.user-side.dropdown
    a.enter(href="#" , data-toggle="dropdown", data-target="#auth-dropdown") Вход
    span.sep или
    a.reg(href="") Регистрация
    .auth-dropdown#auth-dropdown
        form.form-elements.validatable
            span.modal-close(data-toggle="dropdown", data-target="#auth-dropdown")
            .dropdown-title Войти
            .dropdown-body
                .form-group
                    input.form-control(type="text", name="login", placeholder="Логин", required)
                .form-group
                    input.form-control(type="password", name="password", placeholder="Пароль", required)
            .form-submit-row
                .row
                    .col-md-6
                        a.forgot(href="#") Забыли пароль?
                    .col-md-6.text-right
                        button.btn.btn-secondary.btn-submit(type="submit") Войти
    .dropdown-overlay