.blocks-items-list.items-carousel.carousel(data-options='{"items": 4, "loop": true}')
    - for (var i = 0; i < 8; i++)
        .item
            .thumbnail
                img(src="assets/product-#{i+1}.jpg", alt="", class="img-responsive")
            .item-title HTC Desire 620 DS MatGrey-Orange/ Серо-оранжевый
            .item-cost-1 3 800 руб.
            .item-cost-2 
                span VIP
                | 2 700 руб.
            .overlay
                a.item-link(href="product-card.html")
                a.btn.btn-primary.btn-icon.btn-basket В корзину