#quickBuyModal.modal.quick-buy-modal
    .modal-dialog
        .modal-content
            .modal-header
                span.modal-close(data-dismiss="modal")
                .modal-title Для оформления заказа оставьте Ваши контактные данные
            form(id="", method="", action="", class="form-elements validatable")
                .form-groups
                    .form-group
                        input(type="text", name="name", placeholder="Ваше имя", class="form-control" required)
                    .form-group
                        input(type="text", name="phone", placeholder="Ваш телефон", class="form-control phone-input" required)
                    .form-group
                        input(type="text", name="tel", placeholder="Ваш e-mail", class="form-control email", required)
                    .form-group
                        select(name="region", class="select", required="required")
                            option(value="") Ваш регион доставки
                            option(value="1") Регион 1
                            option(value="2") Регион 2
                            option(value="3") Регион 3
                .note.text-center
                    .d Стоимость доставки
                    .d2 от 170 руб. до 600 руб.
                .btn-row.text-center
                    button.btn.btn-secondary(type="submit") Купить