.module.module-result-nav
    .module-title Результаты поиска
        span (44)
    nav.result-nav
        ul.root 
            li
                a(href="#") Аксессуары
                span (44)
                ul.dept-1
                    li
                        a(href="#") Кейсы
                        span (44)
                    li
                        a(href="#") Чехлы-книжки
                        span (44)
                    li
                        a(href="#") Силиконовые кейсы
                        span (44)
                        ul.dept-2
                            li
                                a(href="#") Разъемы
                                span (44)
                            li
                                a(href="#") Шлейфы
                                span (44)
                            li
                                a(href="#") Клавиатуры
                                span (44)
                                ul.dept-3
                                    li
                                        a(href="#") Разъемы
                                        span (44)
                                    li
                                        a(href="#") Шлейфы
                                        span (44)
                    li
                        a(href="#") Бамперы
                        span (44)
                    li
                        a(href="#") Чехлы и сумочки 
                        span (44) 
            li
                a(href="#") Запчасти 
                    span (44)
                ul.dept-1
                    li
                        a(href="#")  Звонки/ динамики/ микрофоны
                        span (44)
                    li
                        a(href="#") Разъемы 
                        span (44)
                    li
                        a(href="#")  Шлейфы 
                        span (44)