.main-search-panel.dropdown
    .panel
        .row
            .col-md-10
                .search-form.form-elements
                    form(id="", method="", action="")
                        .input-wrapper
                            input.form-control(type="text", placeholder="Поиск по сайту" id="search-input")
                            .autocmplete-results
                                .results-colums
                                    .col-left
                                        .result-catalog-list
                                            .t Каталог товаров
                                                span (44)
                                            nav.result-catalog-items
                                                ul.root
                                                    li
                                                        a(href="") Аксессуары
                                                        ul.dept
                                                            li
                                                                a(href="")  Кейсы
                                                            li
                                                                a(href="")  Чехлы-книжки
                                                            li
                                                                a(href="")  Силиконовые кейсы
                                                            li
                                                                a(href="")  Бамперы
                                                            li
                                                                a(href="")  Чехлы и сумочки
                                                    li
                                                        a(href="") Запчасти
                                                        ul.dept
                                                            li
                                                                a(href="")  Звонки / динамики / микрофоны
                                                            li
                                                                a(href="")  Разъемы
                                                            li
                                                                a(href="")  Шлейфы
                                                            li
                                                                a(href="")  Клавиатуры
                                                            li
                                                                a(href="")  Корпусы
                                                            li
                                                                a(href="")  Защита

                                    .col-right
                                        .autocmplete-result-search-panel(id="autocmplete-result-search-panel")
                                        .all-results.text-right
                                            a(href="" class="btn btn-secondary btn-small") Все результаты
                                .close-row.text-center
                                    span(class="btn btn-primary js-close-autocomplete") Убрать результаты                                        


                        button.btn.btn-primary.search-action(type="submit") Искать
            .col-md-2.text-right
                span.target-trigger(data-toggle="dropdown", data-target="#extend-search") Поиск по модели
    .extend-search.collapse-target#extend-search
        .row
            .col-md-10
                .search-form.form-elements
                    form(id="", method="", action="")
                        .column
                            select(name="")
                                option(value="") Фирма
                                - var option = 0
                                while option < 41
                                    option(value="#{option++}") Фирма #{option++}
                        .column
                            select(name="")
                                option(value="") Модель
                                - var option = 0
                                while option < 31
                                    option(value="#{option++}") Модель #{option++}
                        button.btn.btn-primary.search-action(type="submit") Искать