.baner
    a(href="http://", target="_blank")
        img(src="assets/baner-1.jpg", alt="", class="img-responsive")
.baner.has-btn
    img(src="assets/baner-2.jpg", alt="", class="img-responsive")
    .btn-row
        a.btn.btn-primary(href="") Скачать