.spinner.form-elements(data-trigger="spinner")
    span.down(data-spin="down")
    input(type="text", value="1", data-rule="quantity", class="form-control")
    span.up(href="javascript:;" data-spin="up")